<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head th:replace="~{common/header :: head}"></head>
<body class="pace-done mini-navbar">
<script type="text/javascript" th:src="@{/resources/lib/js/plugins/datapicker/bootstrap-datepicker.js}"></script>
<script type="text/javascript" th:src="@{/resources/js/product/productDetail.js(v=20230803005)}"></script>
	<div id="wrapper">
        <div id="page-wrapper" class="gray-bg" style="margin: 0; padding: 0;">
	        <div class="wrapper wrapper-content">
	            <div class="row">
	                <div class="col-lg-12">
	                <div class="ibox float-e-margins">
	                    <div class="ibox-title">
	                         <h5><span>요금제</span></h5>
	                    </div>
	                    <div class="ibox-content">
	                         <div class="table-responsive">
	                             <table class="table table-bordered table-striped">
	                              <tbody>
		                               <colgroup>
						                <col width="15%">
						                <col width="35%">
						                <col width="15%">
						                <col width="35%">
					              </colgroup>
	                                  <tr>
	                                     <th><span>요금제ID</span><span style="color:red;">*</span></th>
	                                     <td>
	                                     	<div class="input-group">
	                                     		<span th:if="${productId == null or productId == ''}" class="input-group-addon">
	                                     			<input type="text" style="width:50px;" class="form-control" value="PO" readOnly>
	                                     		</span>
	                                     		<span th:if="${productId == null or productId == ''}" class="input-group-addon">
	                                     			<input type="text" data-check="false" style="width:200px;" placeholder="ex)대문자영문숫자조합 4자리" id="tdProductId" class="form-control" maxLength="4" onKeyup="this.value=this.value.replace(/[^A-Z0-9]/g,'');">
	                                     		</span>
	                                     		<input th:unless="${productId == null or productId == ''}" type="text" data-check="false" style="width:200px;" placeholder="ex)PDLO01" id="tdProductId" class="form-control" maxLength="6" readonly>
                                                <span class="input-group-btn">
                                                	<button type="button" id="btnProdIdChecker" class="btn btn-primary" style="display: none;"><span>중복확인</span></button>
                                                </span>
                                                <label id="prodIdCheckLabel" class="col-sm-2 control-label"
                                                           style="width:100%; margin-top: 15px;"></label>
                                            </div>
	                                     </td>
	                                     <th><span>요금제명</span><span style="color:red;">*</span></th>
	                                     <td><input type="text" placeholder="ex)완속7kW 요금제" id="tdProductName" class="form-control" maxLength="15" readonly></td>
	                                  </tr>
	                                  <tr>
	                                     <th><span>등록자ID</span></th>
	                                     <td id="tdRegId"></td>
	                                     <th><span>등록일</span></th>
	                                     <td id="tdRegDate"></td>
	                                  </tr>
	                                  <tr>
	                                     <th><span>수정자ID</span></th>
	                                     <td id="tdUpdId"></td>
	                                     <th><span>수정일</span></th>
	                                     <td id="tdUpdDate"></td>
	                                  </tr>
	                              </tbody>
	                             </table>
	                             <div class="ibox-content">
                                    <button class="btn btn-white pull-right" id="btnList"><span>목록</span></button>
                                    <!-- Register/Update buttons are commented out as in original -->
                                </div>
	                         </div>
	                    </div>
	                </div>
	            </div>
	        </div>
	        <div class="row">
	        	<div class="col-lg-12">
	            	<div class="ibox float-e-margins">
	                	<div class="ibox-title">
	                    	<h5><span>단가</span></h5>
	                        <div class="ibox-tools">
	                        	<a class="collapse-link">
	                            	<i class="fa fa-chevron-up"></i>
	                            </a>
	                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
	                            </a>
	                        </div>
	                    </div>
	                    <div class="ibox-content">
	                    	<div class="table-responsive">
		                    	<div class="ibox-tools">
		                    		<span style="color:red;">* <span>단가를 변경하려면 추가 버튼을 뢌러 새로운 단가를 등록해주세요.</span></span>
		                            <button id="btnAdd" style="display:none;" class="btn btn-green pull-right"><span>추가</span></button>
		                            <button id="btnNewPrice" class="btn btn-success pull-right"><span>저장</span></button>
		                        </div>
	                    	</div>
	                    	<div class="table-responsive">
	                        	<div class="dataTables_wrapper form-inline dt-bootstrap">
			                    	<table class="table table-striped table-bordered table-hover dataTables-example dataTable dtr-inline">
			                    		<colgroup>
			                    			<col style="width:15%">
			                    			<col style="width:8%">
			                    			<col style="width:15%">
			                    			<col style="width:15%">
			                    			<col style="width:15%">
			                    			<col style="width:15%">
			                    			<col style="width:17%">
			                    		</colgroup>
			                    		<thead>
							  			<tr>
											<th><span>요금제ID</span></th>
											<th><span>번호</span></th>
											<th><span>시작일자</span></th>
											<th><span>종료일자</span></th>
											<th><span>단가</span></th>
											<th><span>방전 단가</span></th>
											<th><span>비고</span></th>
										</tr>
									</thead>
									<tbody id="tBodyList">
									</tbody>
			                        </table>
		                    	</div>
	                        </div>
	                	</div>
	            	</div>
	        	</div>
	        </div>
        </div>
    </div>
</div>
<script>
var _msg = {
    productMgmt: '요금제관리',
    duplicateCheckRequired: '* 중복확인 해주세요.',
    productIdFrontFormat: '요금제ID 앞 두자리는 영문대문자입니다.',
    productIdBackFormat: '요금제ID 뒤 두자리는 숫자입니다.',
    checkProductIdDuplicate: '요금제ID 중복확인을 해주세요.',
    productIdInUse: '이미 사용중인 요금제ID 입니다. 변경하세요.',
    idAlreadyExists: '* 이미 등록한 아이디가 존재합니다.',
    productIdAvailable: '사용 가능한 요금제ID 입니다.',
    idAvailable: '* 사용가능한 아이디입니다.',
    btnDelete: '삭제',
    btnCancel: '취소',
    confirmDeletePrice: '해당 단가 정보를 삭제하시겠습니까??',
    enterProductId: '요금제ID를 입력해 주세요.',
    selectStartDate: '시작일자를 선택해 주세요.',
    startDateAfterPrevious: '이전 등록한 시작일자보다 미래로 시작일자를 설정해주세요.',
    enterValidPrice: '유효한 단가(0 ~ 9999)를 입력해 주세요.',
    confirmRegisterProduct: '신규 요금제를 등록하시겠습니까?',
    btnRegister: '등록',
    btnConfirm: '확인',
    confirmChangeProduct: '요금제를 변경하시겠습니까?',
    btnChange: '변경'
};
</script>
<script th:inline="javascript">
var productId = /*[[${productId == null or productId == '' ? 'null' : productId}]]*/ 'null';
jQuery(document).ready(function(){
	//
	productDetailJs.init();
});
</script>
</body>
</html>
