<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:camel="http://camel.apache.org/schema/spring"
	   xmlns:context="http://www.springframework.org/schema/context"
	   xmlns:util="http://www.springframework.org/schema/util"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
          http://www.springframework.org/schema/beans/spring-beans.xsd  
          http://camel.apache.org/schema/spring 
          http://camel.apache.org/schema/spring/camel-spring.xsd
		  http://www.springframework.org/schema/context
		  http://www.springframework.org/schema/context/spring-context.xsd
          http://www.springframework.org/schema/util 
          http://www.springframework.org/schema/util/spring-util-4.2.xsd">

	<context:component-scan base-package="kr.co.kevit.localcsms.eai.adr.route"/>

	<camelContext xmlns="http://camel.apache.org/schema/spring">
		<contextScan/>
	</camelContext>

	<!-- Auto Wired -->

	<bean id="ocpp21Bean"			class="kr.co.kevit.localcsms.eai.adr.bean.OCPP21Bean"/>
	
	
	<bean id="notificationBean"		class="kr.co.kevit.localcsms.eai.adr.bean.NotificationBean"/>
	
	<bean id="adrProgramBean"		class="kr.co.kevit.localcsms.eai.adr.bean.AdrProgramBean"/>
	<bean id="adrEventBean"			class="kr.co.kevit.localcsms.eai.adr.bean.AdrEventBean"/>
	
	<!-- TLS Start -->
<!-- 	<camel:sslContextParameters id="sslContextParameters"> -->
<!-- 		<camel:keyManagers keyPassword="083q949z"> -->
<!-- 			<camel:keyStore resource="/home/kevitdev/csms/kevit/api/kevit.co.kr.jks" password="083q949z"/> -->
<!-- 		</camel:keyManagers> -->
<!-- 		<camel:secureSocketProtocols> -->
<!-- 			<camel:secureSocketProtocol>TLSv1.2</camel:secureSocketProtocol> -->
<!-- 		</camel:secureSocketProtocols> -->
<!-- 	</camel:sslContextParameters> -->
	<!-- TLS End -->

</beans>
