<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<property value="DR_Log" name="log.app.name"/>
	<property value="100MB" name="log.file.max"/>
	<property value="7" name="log.file.history"/>
	<property value="%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} %method %line %n - %msg%n" name="log.pattern"/>

	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
			<pattern>${log.pattern}</pattern>
		</layout>
	</appender>

	<appender name="FILE_LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${log.app.name}.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${log.app.name}-%d{yyyy-MM-dd}.%i.txt</fileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>${log.file.max}</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
		<encoder>
			<pattern>${log.pattern}</pattern>
		</encoder>
	</appender>

	<appender name="fileExceptionAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${log.app.name}-exception.log</file>
		<append>true</append>
		<encoder>
			<pattern>${log.pattern}</pattern>
		</encoder>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${log.app.name}-exception.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>${log.file.max}</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
			<maxHistory>${log.file.history}</maxHistory>
		</rollingPolicy>
		<filter class="ch.qos.logback.classic.filter.LevelFilter">
			<level>ERROR</level>
			<onMatch>ACCEPT</onMatch>
			<onMismatch>DENY</onMismatch>
		</filter>
	</appender>

	<logger name="kr.co.kevit.csms.core" level="info" additivity="false">
		<appender-ref ref="CONSOLE" />
		<appender-ref ref="fileExceptionAppender"/>
	</logger>

	<logger name="kr.co.kevit.adr.bean" level="info" additivity="false">
		<appender-ref ref="FILE_LOG" />
		<appender-ref ref="fileExceptionAppender"/>
		<appender-ref ref="CONSOLE" />
	</logger>

	<root level="info">
		<appender-ref ref="CONSOLE" />
		<appender-ref ref="fileExceptionAppender"/>
	</root>

</configuration>