<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">

<head th:replace="~{common/header :: head}"></head>

<body class="pace-done mini-navbar">
    <div id="wrapper">
        <div id="page-wrapper" class="gray-bg" style="margin: 0; padding: 0;">
            <div class="wrapper wrapper-content">
                <div class="wrapper wrapper-content">
                    system dashboard

                </div>
            </div>
        </div>
    </div>
</body>
<script type="text/javascript" th:src="@{/resources/js/dashBoard/systemDashBoard.js(v=20260804001)}"></script>
<script type="text/javascript">
    jQuery(document).ready(function () {
        //
        systemDashBoardJs.init();
    });
</script>

</html>