<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">

<head th:replace="~{common/header :: head}"></head>

<body>
    <script type="text/javascript" th:src="@{/resources/lib/js/plugins/typehead/bootstrap3-typeahead.min.js}"></script>
    <script type="text/javascript" th:src="@{/resources/lib/js/plugins/datapicker/bootstrap-datepicker.js}"></script>
    <script>
        var _msg = {
            title:              '충전기관리',
            selectProduct:      '요금제 선택',
            selectCsKindType:   '충전기유형 선택',
            selectMaker:        '제조사 선택',
            selectConnector:    '커넥터 선택',
            selectChargePoint:  '충전소를 선택해 주세요.',
            inputCsId:          '충전기ID를 입력해 주세요.',
            selectUseYn:        '사용여부를 선택해 주세요.',
            selectCapacity:     '충전기용량을 선택해 주세요.',
            yearNoNegative:     '연도는 음수가 될 수 없습니다.',
            yearMustBe2000s:    '연도는 2000년대여야 합니다.',
            selectMonth:        '월을 선택해 주세요.',
            inputPassword:      '비밀번호를 입력해 주세요.',
            inputTotalSlot:     '총 슬롯 수를 입력하세요.',
            confirmChange:      '변경하시겠습니까?',
            confirmDelete:      '삭제하시겠습니까?',
            btnModify:          '수정',
            btnDelete:          '삭제',
            btnCancel:          '취소',
            btnConfirm:         '확인',
            cannotDeleteInUse:  '충전 중인 충전기는 삭제할 수 없습니다.',
            deleteComplete:     '삭제가 완료되었습니다.',
            menuBreakdown:      '고장접수'
        };
    </script>
    <script type="text/javascript"
        th:src="@{/resources/js/charger/chargingStation/chargingStation.js(v=20230803003)}"></script>
    <script type="text/javascript" th:src="@{/resources/js/util/validate.js}"></script>
    <div id="wrapper">
        <div id="page-wrapper" class="gray-bg" style="margin: 0; padding: 0;">
            <div class="wrapper wrapper-content">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="ibox float-e-margins">
                            <div class="ibox-title">
                                <th:block th:if="${csId == null or csId == ''}">
                                    <h5>충전기 등록</h5>
                                </th:block>
                                <th:block th:unless="${csId == null or csId == ''}">
                                    <h5>충전기 상세</h5>
                                </th:block>
                                <div class="ibox-tools">
                                    <a class="collapse-link">
                                        <i class="fa fa-chevron-up"></i>
                                    </a>
                                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                    </a>
                                </div>
                            </div>
                            <div class="ibox-content">
                                <div class="table-responsive">
                                    <table class="table table-bordered table-striped">
                                        <tbody>
                                            <colgroup>
                                                <col width="15%">
                                                <col width="35%">
                                                <col width="15%">
                                                <col width="35%">
                                            </colgroup>
                                            <tr>
                                                <th><span>충전기 ID / 충전기 고유ID</span><span
                                                        style="color:red;">*</span></th>
                                                <td>
                                                    <th:block th:if="${csId == null or csId == ''}">
                                                        <div class="input-group">
                                                            <span class="input-group-addon">
                                                                <input type="text"
                                                                    placeholder="등록 후 자동 생성됩니다."
                                                                    id="csId" class="form-control" readOnly>
                                                            </span>
                                                        </div>
                                                    </th:block>
                                                    <th:block th:unless="${csId == null or csId == ''}">
                                                        <input type="text" class="form-control" id="cpCsId" readonly>
                                                        <input type="hidden" id="csUniqId">
                                                        <input type="hidden" id="csId">
                                                    </th:block>
                                                </td>
                                                <th><span>충전소ID</span><span
                                                        style="color:red;">*</span></th>
                                                <td>
                                                    <input type="hidden" id="cpId" />
                                                    <div class="input-group">
                                                        <th:block th:if="${csId == null or csId == ''}">
                                                            <input type="text" id="cpName" class="form-control">
                                                            <span class="input-group-btn">
                                                                <button type="button" id="btnSearchChargePoint"
                                                                    class="btn btn-primary"
                                                                   >충전소 검색</button>
                                                            </span>
                                                        </th:block>
                                                        <th:block th:unless="${csId == null or csId == ''}">
                                                            <input type="text" id="cpName" class="form-control"
                                                                disabled>
                                                        </th:block>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th><span>제조사</span><span
                                                        style="color:red;">*</span></th>
                                                <td>
                                                    <select id="makerType" class="form-control"></select>
                                                </td>
                                                <th><span>충전기유형</span><span
                                                        style="color:red;">*</span></th>
                                                <td>
                                                    <select id="csKindType" class="form-control"></select>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th><span>충전기용량(kW)</span><span
                                                        style="color:red;">*</span></th>
                                                <td>
                                                    <select id="electronicSupplyCapability" class="form-control">
                                                        <option selected value="0"
                                                           >충전기용량을 선택해주세요.</option>
                                                        <option value="3">3</option>
                                                        <option value="7">7</option>
                                                        <option value="11">11</option>
                                                        <option value="14">14</option>
                                                        <option value="50">50</option>
                                                        <option value="100">100</option>
                                                        <option value="200">200</option>
                                                        <option value="250">250</option>
                                                        <option value="400">400</option>
                                                    </select>
                                                </td>
                                                <th><span>요금제</span><span
                                                        style="color:red;">*</span></th>
                                                <td>
                                                    <select id="prodType" class="form-control">
                                                    </select>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th><span>채널</span><span
                                                        style="color:red;">*</span></th>
                                                <td>
                                                    <div class="input-group">
                                                        <th:block th:if="${csId == null or csId == ''}">
                                                            <select id="csChanelCount" class="form-control">
                                                                <option value="1" selected>1</option>
                                                                <option value="2">2</option>
                                                                <option value="3">3</option>
                                                                <option value="4">4</option>
                                                                <option value="5">5</option>
                                                            </select>
                                                        </th:block>
                                                        <th:block th:unless="${csId == null or csId == ''}">
                                                            <select id="csChanelCount" class="form-control" disabled>
                                                                <option value="1">1</option>
                                                                <option value="2">2</option>
                                                                <option value="3">3</option>
                                                                <option value="4">4</option>
                                                                <option value="5">5</option>
                                                            </select>
                                                        </th:block>
                                                    </div>
                                                </td>
                                                <th>Password<span style="color:red;">*</span></th>
                                                <td><input type="text" class="form-control" maxlength="16"
                                                        id="csPassword" value="A123456789012345" /></td>
                                            </tr>
                                            <tr th:unless="${csId == null or csId == ''}">
                                                <th>Last Password</th>
                                                <td><input type="text" class="form-control" id="lastCsPassword"
                                                        readonly /></td>
                                                <th></th>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <th><span>급속/완속 커넥터</span><span
                                                        style="color:red;">*</span></th>
                                                <td>
                                                    <select id="csCatCode" class="form-control"></select>
                                                </td>
                                                <th><span>사용유무</span><span
                                                        style="color:red;">*</span></th>
                                                <td>
                                                    <select id="useYn" class="form-control">
                                                        <option value="">사용유무를 선택해주세요.</option>
                                                        <option value="Y">Y</option>
                                                        <option value="N">N</option>
                                                    </select>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>충전기 설치업체</th>
                                                <td>
                                                    <input type="text" maxlength="50" class="form-control"
                                                        id="csInstallCo" />
                                                </td>
                                                <th><span>설치년월</span><span
                                                        style="color:red;">*</span></th>
                                                <td>
                                                    <div class="input-group">
                                                        <span class="input-group-addon">
                                                            <input type="text" class="form-control" id="year"
                                                                maxLength="4" />
                                                        </span>
                                                        <span class="input-group-addon" style="text-align: left;">
                                                            <select id="month" class="form-control">
                                                                <option value="00"
                                                                   >설치월을 선택해주세요</option>
                                                                <option value="01"
                                                                   >1월</option>
                                                                <option value="02"
                                                                   >2월</option>
                                                                <option value="03"
                                                                   >3월</option>
                                                                <option value="04"
                                                                   >4월</option>
                                                                <option value="05"
                                                                   >5월</option>
                                                                <option value="06"
                                                                   >6월</option>
                                                                <option value="07"
                                                                   >7월</option>
                                                                <option value="08"
                                                                   >8월</option>
                                                                <option value="09"
                                                                   >9월</option>
                                                                <option value="10"
                                                                   >10월</option>
                                                                <option value="11"
                                                                   >11월</option>
                                                                <option value="12"
                                                                   >12월</option>
                                                            </select>
                                                        </span>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th><span>통신전문타입</span><span
                                                        style="color:red;">*</span></th>
                                                <td>
                                                    <select id="ocppVersion" class="form-control">
                                                        <option value="ocpp1.6" selected>OCPP_1.6</option>
                                                        <option value="ocpp2.0.1">OCPP_2.0.1</option>
                                                        <option value="ocpp2.1">OCPP_2.1</option>
                                                    </select>
                                                </td>
                                                <th>고장여부</th>
                                                <td>
                                                    <select id="brkdownYn" class="form-control">
                                                        <option value="N" selected>N</option>
                                                        <option value="Y">Y</option>
                                                    </select>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th><span>V2X 유형</span><span
                                                        style="color:red;">*</span></th>
                                                <td>
                                                    <select id="v2xType" class="form-control"></select>
                                                </td>
                                                <th><span>서비스 방식</span><span
                                                        style="color:red;">*</span></th>
                                                <td>
                                                    <select id="csServiceType" class="form-control">
                                                        <option value="CSST01"
                                                           >일반 전기차 충전기</option>
                                                        <option value="CSST02"
                                                           >배터리 교환형</option>
                                                    </select>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>FW Ver</th>
                                                <td id="fwVer"></td>
                                                <th>모델 명</th>
                                                <td id="modelName"></td>
                                            </tr>
                                            <tr>
                                                <th>시리얼번호</th>
                                                <td id="serialNumber"></td>
                                                <th>최근 부팅 일자</th>
                                                <td id="lastBootDate"></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <div class="ibox-content">
                                        <button class="btn btn-white pull-right" id="btnList"
                                           >목록</button>
                                        <th:block th:if="${csId == null or csId == ''}">
                                            <button id="btnRegister" class="btn btn-success pull-right"
                                               >등록</button>
                                        </th:block>
                                        <th:block th:unless="${csId == null or csId == ''}">
                                            <button id="btnUpdate" class="btn btn-warning pull-right"
                                               >수정</button>
                                            <button id="btnDelete" class="btn btn-danger pull-right"
                                               >삭제</button>
                                        </th:block>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 배터리 교환형 정보 (csServiceType == CSST02 일 때만 노출) -->
                <div class="row" id="batterySwapBox" style="display:none;">
                    <div class="col-lg-12">
                        <div class="ibox float-e-margins">
                            <div class="ibox-title">
                                <h5>배터리 교환형 정보</h5>
                                <div class="ibox-tools">
                                    <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                </div>
                            </div>
                            <div class="ibox-content">
                                <div class="table-responsive">
                                    <table class="table table-bordered table-striped">
                                        <colgroup>
                                            <col width="15%">
                                            <col width="35%">
                                            <col width="15%">
                                            <col width="35%">
                                        </colgroup>
                                        <tbody>
                                            <tr>
                                                <th><span
                                                       >운영상태</span><span
                                                        style="color:red;">*</span></th>
                                                <td>
                                                    <select id="operationalStatus" class="form-control">
                                                        <option value="Operative"
                                                           >운영(Operative)</option>
                                                        <option value="Inoperative"
                                                           >정지(Inoperative)</option>
                                                        <option value="Maintenance"
                                                           >정비(Maintenance)</option>
                                                    </select>
                                                </td>
                                                <th><span
                                                       >총 슬롯 수</span><span
                                                        style="color:red;">*</span></th>
                                                <td><input type="number" min="0" class="form-control"
                                                        id="totalSlotCount" /></td>
                                            </tr>
                                            <tr>
                                                <th>예약/정비 잠금 슬롯</th>
                                                <td><input type="number" min="0" class="form-control"
                                                        id="reservedSlotCount" value="0" /></td>
                                                <th>지원 배터리 모델</th>
                                                <td><input type="text" maxlength="60" class="form-control"
                                                        id="supportedBatteryModel" /></td>
                                            </tr>
                                            <tr>
                                                <th>기본 IdToken</th>
                                                <td><input type="text" maxlength="255" class="form-control"
                                                        id="defaultIdToken" /></td>
                                                <th>IdToken 유형</th>
                                                <td><input type="text" maxlength="20" class="form-control"
                                                        id="defaultIdTokenType" /></td>
                                            </tr>
                                            <tr>
                                                <th>Swap 타임아웃(초)</th>
                                                <td><input type="number" min="0" class="form-control"
                                                        id="swapTimeoutSec" value="600" /></td>
                                                <th>회수 임계 SoH(%)</th>
                                                <td><input type="number" min="0" max="100" step="0.01"
                                                        class="form-control" id="minSoHThreshold" /></td>
                                            </tr>
                                            <tr>
                                                <th>출고 최소 SoC(%)</th>
                                                <td><input type="number" min="0" max="100" step="0.01"
                                                        class="form-control" id="minSoCThreshold" /></td>
                                                <th></th>
                                                <td></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <th:block th:unless="${csId == null or csId == ''}">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="ibox float-e-margins">
                                <div class="ibox-title">
                                    <h5>고장 이력</h5>
                                    <div class="ibox-tools">
                                        <a class="collapse-link">
                                            <i class="fa fa-chevron-up"></i>
                                        </a>
                                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                        </a>
                                    </div>
                                </div>
                                <div class="ibox-content">
                                    <div class="row">
                                        <div class="col-sm-6" style="padding-top: 11px;">
                                            <label id="totalCount"></label>
                                        </div>
                                        <div class="col-sm-6" style="text-align: right;">
                                            <button class="btn btn-white pull-right" id="btnBreakdownList"
                                                style="display:none;">더보기</button>
                                        </div>
                                    </div>
                                    <div class="table-responsive">
                                        <div class="dataTables_wrapper form-inline dt-bootstrap">
                                            <table
                                                class="table table-striped table-bordered table-hover dataTables-example dataTable dtr-inline"
                                                style="white-space:nowrap; text-align:center;">
                                                <thead>
                                                    <tr>
                                                        <th>번호</th>
                                                        <th>고장ID</th>
                                                        <th>충전기ID</th>
                                                        <th>접수일자</th>
                                                        <th>접수시간</th>
                                                        <th>조치일자</th>
                                                        <th>조치시간</th>
                                                        <th>처리상태</th>
                                                        <th>등록일</th>
                                                    </tr>
                                                </thead>
                                                <tbody id="tBodyList">
                                                </tbody>
                                                <tfoot>
                                                </tfoot>
                                            </table>
                                            <div class="dataTables_paginate paging_simple_numbers"
                                                id="DataTables_Table_0_paginate">
                                                <ul class="pagination" id="pagingUl">
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </th:block>
            </div>
        </div>
    </div>
    <!-- chargePointSearch popup include -->
    <div th:replace="~{common/popup/chargePointSearch :: chargePointSearch}"></div>
</body>
<script type="text/javascript">
    var cpId = "[[${cpId != null ? cpId : ''}]]";
    var csId = "[[${csId != null ? csId : ''}]]";
    var pageInfoJs;
    jQuery(document).ready(function () {
        //
        pageInfoJs = new PageInfoJs();
        chargingStationJs.init();
    });
</script>

</html>