<div class="modal inmodal fade" id="Popup_BreakdownReceipt" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
                        class="sr-only">Close</span></button>
                <h4 class="modal-title"><span th:text="#{popup.breakdown.receipt.title}"></span></h4>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <table class="table table-bordered table-striped">
                        <tbody>
                        <tr>
                            <th><span th:text="#{charger.station.name}"></span></th>
                            <td id="Popup_BreakdownReceipt_cpName"></td>
                            <th>QRID</th>
                            <td id="Popup_BreakdownReceipt_csUniqId"></td>
                        </tr>
                        <tr>
                            <th><span th:text="#{popup.breakdown.label.receipt.date}"></span></th>
                            <td id="Popup_BreakdownReceipt_breakdownRegDate"></td>
                            <th><span th:text="#{popup.breakdown.label.receipt.method}"></span></th>
                            <td id="Popup_BreakdownReceipt_callType"></td>
                        </tr>
                        <tr>
                            <th><span th:text="#{popup.breakdown.label.urgency.level}"></span></th>
                            <td id="Popup_BreakdownReceipt_urgencyLevel"></td>
                            <th><span th:text="#{charger.station.charger.type}"></span></th>
                            <td id="Popup_BreakdownReceipt_csCatCode"></td>
                        </tr>
                        <tr>
                            <th><span th:text="#{popup.breakdown.label.category}"></span></th>
                            <td id="Popup_BreakdownReceipt_category"></td>
                            <th><span th:text="#{popup.breakdown.label.error.code}"></span></th>
                            <td id="Popup_BreakdownReceipt_stationErrorCode"></td>
                        </tr>
                        <tr>
                            <th><span th:text="#{popup.breakdown.label.content}"></span></th>
                            <td colspan="3" id="Popup_BreakdownReceipt_breakdownContent"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-white" data-dismiss="modal"><span th:text="#{common.btn.close}"></span></button>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" th:src="@{/resources/js/popup/breakdownReceiptPopup.js(v=20230731001)}"></script>
