<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">

<body>
    <th:block th:fragment="chargerInfo">
        <script th:inline="javascript">
            if (typeof _msg === 'undefined') { var _msg = {}; }
            Object.assign(_msg, {
                receipt: /*[[#{js.charger.receipt}]]*/ '',
                smsSent: /*[[#{js.charger.smsSent}]]*/ '',
                smsSend: /*[[#{js.charger.smsSend}]]*/ '',
                smsFail: /*[[#{js.charger.smsFail}]]*/ '',
                smsFailTitle: /*[[#{js.charger.smsFailTitle}]]*/ '',
                breakdownMgmt: /*[[#{js.charger.breakdownMgmt}]]*/ ''
            });
        </script>
        <script th:src="@{/resources/js/popup/chargerPopup.js(v=20230731001)}"></script>

        <div class="modal inmodal fade" id="Popup_StationInfo" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">
                            <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                        </button>
                        <h4 class="modal-title" th:text="#{popup.charger.info.title}"></h4>
                    </div>
                    <div class="modal-body">
                        <div class="table-responsive">
                            <table class="table table-bordered table-striped" style="background-color: white;">
                                <tr>
                                    <th th:text="#{recharging.label.charger.id}"></th>
                                    <td id="Popup_StationInfo_cpCsId"></td>
                                    <th th:text="#{recharging.label.charging.point}"></th>
                                    <td id="Popup_StationInfo_cpName"></td>
                                </tr>
                                <tr>
                                    <th th:text="#{popup.charger.label.unique.id}"></th>
                                    <td id="Popup_StationInfo_csUniqId"></td>
                                    <th th:text="#{recharging.label.channel}"></th>
                                    <td id="Popup_StationInfo_csCableChn"></td>
                                </tr>
                                <tr>
                                    <th th:text="#{popup.charger.label.type}"></th>
                                    <td id="Popup_StationInfo_csKindType"></td>
                                    <th th:text="#{popup.charger.label.registration.date}"></th>
                                    <td id="Popup_StationInfo_chargerRegistrationDate"></td>
                                </tr>
                                <tr>
                                    <th th:text="#{popup.charger.label.connector}"></th>
                                    <td id="Popup_StationInfo_csCatCode"></td>
                                    <th th:text="#{popup.charger.label.breakdown.receipt}"></th>
                                    <td id="Popup_StationInfo_brkdownYn"> </td>
                                </tr>
                                <tr>
                                    <th th:text="#{popup.charger.label.recent.boot.date}"></th>
                                    <td id="Popup_StationInfo_lastBootDate"></td>
                                    <th th:text="#{common.label.use.yn}"></th>
                                    <td id="Popup_StationInfo_useYn"></td>
                                </tr>
                                <tr>
                                    <th th:text="#{popup.charger.label.firmware.version}"></th>
                                    <td id="Popup_StationInfo_fmwVersion"></td>
                                    <th th:text="#{popup.charger.label.serial.no}"></th>
                                    <td id="Popup_StationInfo_serialNo"></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-white" data-dismiss="modal"
                            th:text="#{common.btn.close}"></button>
                    </div>
                </div>
            </div>
        </div>
    </th:block>
</body>

</html>