<script type="text/javascript" th:src="@{/resources/lib/js/plugins/datapicker/bootstrap-datepicker.js}"></script>
<script>
if (typeof _msg === 'undefined') { var _msg = {}; }
Object.assign(_msg, {
    couponIssue: '쿠폰발급',
    enterPoint: '포인트 금액을 입력해주세요',
    enterEa: '발급개수를 입력해주세요',
    enterReason: '발급사유를 입력해주세요',
    pastDate: '발급일이 과거입니다',
    confirmIssue: '쿠폰을 발급하시겠습니까?',
    issueBtn: '발급',
    cancel: '취소',
    issuingWait: '쿠폰 발급 중입니다. 잠시만 기다려 주세요',
    issueResult: '발급성공: {0} 발급실패: {1}'
});
</script>
<script type="text/javascript" th:src="@{/resources/js/popup/couponPopup.js(v=20230731001)}"></script>
<script type="text/javascript">
    let Popup_Coupon_pageInfoJs;
    jQuery(document).ready(function () {
        Popup_Coupon_pageInfoJs = new PageInfoJs();
    });
</script>

<div class="modal inmodal fade" id="Popup_Coupon" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
                        class="sr-only">Close</span></button>
                <h4 class="modal-title"><span>쿠폰발급</span></h4>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <table class="table table-bordered table-striped" style="background-color: white;">
                        <tr>
                            <th><span>포인트</span></th>
                            <td>
                                <input type="number" id="popup_coupon_issue" placeholder="발급포인트를 입력해주세요"
                                       class="form-control input-sm">
                            </td>
                            <th><span>만료일</span></th>
                            <td>
                                <input type="text" class="input-sm form-control"
                                       id="popup_coupon_expireDate"
                                       style="text-align: center" readonly>
                            </td>
                        </tr>
                        <tr>
                            <th><span>발급수량</span></th>
                            <td>
                                <input type="number" id="popup_coupon_ea" placeholder="발급수량을 입력해주세요"
                                       class="form-control input-sm">
                            </td>
                            <th><span>발급사유</span></th>
                            <td>
                                <input type="text" id="popup_coupon_etc" placeholder="발급사유를 입력해주세요"
                                       class="form-control input-sm">
                            </td>
                        </tr>
                        <tr>
                            <th><span>중복등록</span></th>
                            <td>
                                <select class="input-sm form-control input-s-sm inline" id="popup_coupon_duplicate">
                                    <option value="Y"><span>가능</span></option>
                                    <option value="N" selected><span>불가능</span></option>
                                </select>
                            </td>
                            <th><span>추가발급</span></th>
                            <td>
                                <input type="text" id="popup_coupon_issueId" placeholder="발급ID"
                                       class="form-control input-sm" readonly onclick="couponPopupJs.toggle()">
                            </td>
                        </tr>
                    </table>
                    <div id="popup_coupon_list" style="display: none;">
                        <div class="row" style="margin: 0">
                            <div class="col-sm-8"></div>
                            <div class="col-sm-4">
                                <div class="input-group">
                                    <input type="text" id="popup_coupon_sWord" placeholder="발급ID"
                                           class="form-control input-sm">
                                    <span class="input-group-btn">
                                    <button type="button" id="popup_coupon_btnSearch" class="btn btn-sm btn-primary"
                                            style="float:right;"><span>검색</span></button>
                                </span>
                                </div>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <div class="dataTables_wrapper form-inline dt-bootstrap">
                                <table class="table table-striped table-bordered table-hover dataTables-example dataTable dtr-inline">
                                    <thead>
                                    <tr>
                                        <th><span>번호</span></th>
                                        <th><span>발급ID</span></th>
                                        <th><span>발급사유</span></th>
                                        <th><span>중복등록</span></th>
                                    </tr>
                                    </thead>
                                    <tbody id="popup_coupon_tBodyList">
                                    </tbody>
                                </table>
                                <div class="dataTables_paginate paging_simple_numbers"
                                     id="DataTables_Table_0_paginate">
                                    <ul class="pagination" id="popup_coupon_pagingUl">
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" id="popup_coupon_btnRegister"><span>발급</span></button>
                <button type="button" class="btn btn-white" data-dismiss="modal"><span>닫기</span></button>
            </div>
        </div>
    </div>
</div>
