<script>
if (typeof _msg === 'undefined') { var _msg = {}; }
Object.assign(_msg, {
    customerUpdate: '고객정보수정',
    noResult: '조회내역이 없습니다.',
    checkCarModel: '차량모델을 확인해주세요.',
    checkGrade: '고객등급을 확인해주세요.',
    checkUseGrade: '이용등급을 확인해주세요.',
    checkDemotion: '관리자강등여부를 확인해주세요.',
    checkSms: 'SMs수신여부를 확인해주세요.',
    checkEmail: '이메일수신여부를 확인해주세요.',
    customerMgmt: '고객관리',
    confirmChange: '고객정보를 변경하시겠습니까?',
    modify: '수정',
    cancel: '취소',
    unverified: '(미인증)'
});
</script>
<script type="text/javascript" th:src="@{/resources/js/popup/customerUpdatePopup.js(v=20230731001)}"></script>

<div class="modal inmodal fade" id="Popup_CustomerUpdate" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
                        class="sr-only">Close</span></button>
                <h4 class="modal-title"><span>회원정보</span></h4>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <table class="table table-bordered table-striped">
                        <tr>
                            <th><span>고객 ID</span></th>
                            <td colspan="2" id="Popup_CustomerUpdate_customerId"></td>
                            <th><span>고객명</span></th>
                            <td colspan="2" id="Popup_CustomerUpdate_custName"></td>
                        </tr>
                        <tr>
                            <th><span>로그인아이디</span></th>
                            <td colspan="2" id="Popup_CustomerUpdate_loginId"></td>
                            <th><span>핸드폰번호</span></th>
                            <td colspan="2" id="Popup_CustomerUpdate_mblPhoneNo"></td>
                        </tr>
                        <tr>
                            <th><span>개인/법인</span></th>
                            <td colspan="2" id="Popup_CustomerUpdate_companyName"></td>
                            <th><span>부서</span></th>
                            <td colspan="2" id="Popup_CustomerUpdate_corporateDept"></td>
                        </tr>
                        <tr>
                            <th><span>차량모델</span></th>
                            <td colspan="2">
                                <div style="display: flex;">
                                    <select class="form-control input-sm" id="Popup_CustomerUpdate_carModelId"
                                            style="width: 100%"></select>
                                    <input class="form-control input-sm" type="text" id="Popup_CustomerUpdate_carName"
                                           style="width: 50%; display: none;">
                                </div>
                            </td>
                            <th><span>차량번호</span></th>
                            <td colspan="2">
                                <input type="text" id="Popup_CustomerUpdate_carNumber" class="form-control input-sm">
                            </td>
                        </tr>
                        <tr>
                            <th><span>고객등급</span></th>
                            <td>
                                <select class="form-control input-sm" id="Popup_CustomerUpdate_cutGrdCode"></select>
                            </td>
                            <th><span>이용등급</span></th>
                            <td>
                                <select class="form-control input-sm" id="Popup_CustomerUpdate_cutManageCode"></select>
                            </td>
                            <th><span>관리자 강등여부</span></th>
                            <td>
                                <select class="form-control input-sm" id="Popup_CustomerUpdate_mgrDemYn">
                                    <option value="Y">Y</option>
                                    <option value="N">N</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <th><span>SMS 수신여부</span></th>
                            <td colspan="2">
                                <select class="form-control input-sm" id="Popup_CustomerUpdate_smsRctYn">
                                    <option value="Y"><span>수신</span></option>
                                    <option value="N"><span>미수신</span></option>
                                </select>
                            </td>
                            <th><span>이메일 수신여부</span></th>
                            <td colspan="2">
                                <select class="form-control input-sm" id="Popup_CustomerUpdate_emailRctYn">
                                    <option value="Y"><span>수신</span></option>
                                    <option value="N"><span>미수신</span></option>
                                </select>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" id="Popup_CustomerUpdate_btnUpdate"><span>수정</span></button>
                <button type="button" class="btn btn-white" data-dismiss="modal"><span>닫기</span></button>
            </div>
        </div>
    </div>
</div>
