<th:block th:fragment="popup">
<!-- Popup: 카드정보 / 신규 카드 등록 (트리거: btnCardListAdd) -->
<div class="modal inmodal fade" id="Popup_CardInfo" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title"><span id="cardInfoTitle">회원카드상세</span></h4>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <table class="table table-bordered table-striped">
                        <colgroup>
                            <col width="20%">
                            <col width="20%">
                            <col width="20%">
                            <col width="20%">
                            <col width="20%">
                        </colgroup>
                        <tbody>
                        <tr>
                            <th><span>세대주명</span></th>
                            <td><span id="cardCustName"></span></td>
                            <th><span>세대정보</span></th>
                            <td colspan="2"><span id="cardCustAddr"></span></td>
                        </tr>
                        <tr>
                            <th><span>회원카드번호</span><span style="color:red;">*</span></th>
                            <td colspan="4">
                                <div class="input-group">
                                    <span class="input-group-addon" style="border:0px; width:0; padding: 0; display:inline-flex;" >
                                        <input type="text" style="width:85px;" id="cutCardNo1" class="form-control" maxLength="4" readonly="readonly" onKeyup="this.value=this.value.replace(/[^0-9]/g,'');">
                                        <span class="input-group-addon" style="width:0px; background-color: #fefefe;">-</span>
                                        <input type="text" style="width:85px;" id="cutCardNo2" class="form-control" maxLength="4" readonly="readonly" onKeyup="this.value=this.value.replace(/[^0-9]/g,'');">
                                        <span class="input-group-addon" style="width:0px; background-color: #fefefe;">-</span>
                                        <input type="text" style="width:85px;" id="cutCardNo3" class="form-control" maxLength="4" readonly="readonly" onKeyup="this.value=this.value.replace(/[^0-9]/g,'');">
                                        <span class="input-group-addon" style="width:0px; background-color: #fefefe;">-</span>
                                        <input type="text" style="width:85px;" id="cutCardNo4" class="form-control" maxLength="4" readonly="readonly" onKeyup="this.value=this.value.replace(/[^0-9]/g,'');">
                                        <button type="button" id="btnCardNoChecker" class="btn btn-primary"><span>중복확인</span></button>
                                    </span>
                                </div>
                            </td>
                        </tr>
                        <tr id="trStopStatus">
                            <th><span>정지여부</span></th>
                            <td><span id="stopStatusLabel"></span></td>
                            <th><span>정지사유</span></th>
                            <td colspan="2">
                                <span id="stopRsnLabel" style="display:none;"></span>
                                <select id="stopRsnCd" class="form-control input-sm" style="display:inline-block; width:130px;">
                                    <option value="" selected>해당사항 없음</option>
                                    <option value="LOSS">분실</option>
                                    <option value="USER_REQ">사용자요청</option>
                                    <option value="UNPAID">관리비(요금)미납</option>
                                    <option value="ETC">기타</option>
                                </select>
                                <input type="text" id="stopRsnTxt" placeholder="기타 사유를 입력해주세요" class="form-control input-sm" style="display:none; width:150px; margin-left:5px;">
                                <button id="btnCardStop" class="btn btn-danger btn-sm" style="margin-left:5px;"><span>카드정지</span></button>
                            </td>
                        </tr>
                        <tr id="trStopDate">
                            <th><span>정지일</span></th>
                            <td colspan="4">
                                <input type="text" id="stopDate" name="stopDate" readonly="readonly" class="form-control">
                            </td>
                        </tr>
                        <tr id="trChargeLimit">
                            <th><span>충전 한도</span></th>
                            <td colspan="4">
                                금액(원) <input type="number" id="cardMaxCost" min="0" step="1" class="form-control input-sm" style="width:100px;display:inline-block;">
                                에너지(kWh) <input type="number" id="cardMaxEnergy" min="0" step="0.1" class="form-control input-sm" style="width:100px;display:inline-block;">
                                시간(분) <input type="number" id="cardMaxTime" min="0" step="1" class="form-control input-sm" style="width:80px;display:inline-block;">
                                SoC(%) <input type="number" id="cardMaxSoC" min="0" max="100" step="1" class="form-control input-sm" style="width:80px;display:inline-block;">
                                <button id="btnCardLimitSave" class="btn btn-primary btn-xs" style="margin-left:5px;"><span>한도저장</span></button>
                                <div><small class="text-muted">비워두면 한도 없음. CS 충전기가 자체 설정한 값이 있으면 그 값이 우선합니다.</small></div>
                            </td>
                        </tr>
                       </tbody>
                    </table>
                    <div style="text-align:right;padding-top:10px;">
                        <button id="btnCardListSave" class="btn btn-warning btn-sm" style="margin:0 0 20px 0;"><span>등록</span></button>
                        <button id="btnCardReactivate" class="btn btn-success btn-sm" style="margin:0 0 20px 0;"><span>정지해제</span></button>
                        <button id="btnCardListCancel" class="btn btn-white btn-sm" style="margin:0 0 20px 0;"><span>닫기</span></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</th:block>
