<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
<title><span th:text="#{dashboard.monitoring.title}"></span></title>
<head th:replace="~{common/header :: head}"></head>
</head>

<body id="monitering">
    <div id="header">
        <img id="logo" th:src="@{/resources/img/monitoring/logo.svg}">
        <div id="time">
            <img id="night">
            <span id="date">
            </span>
            <span id="clock">
            </span>
        </div>
    </div>
    <div class="parent">
        <div class="content">
            <div id="map"></div>
        </div>
        <div class="content" >
            <div class="box1">
                <div style="padding-top: 8px;">
                    <span class="title"><span th:text="#{dashboard.monitoring.label.daily.status}"></span></span>
                    <span class="updateDate" style=" font-size:14px; color:#9CA6B4; margin-left: 330px;">
                    </span>
                </div>
                <hr class="line" width="589px">
                <div style="width: 580px; height: 140px; margin-left: 16px;">
                    <div style="width: 100%; height: 44px; display: flex; color: #111111;">
                        <span style="flex:1; padding: 8px;"><span th:text="#{common.label.type}"></span></span>
                        <span style="flex:1; text-align: center; padding: 8px;"><span th:text="#{recharging.label.fast.charging}"></span></span>
                        <span style="flex:1; text-align: center; padding: 8px;"><span th:text="#{recharging.label.slow.charging}"></span></span>
                        <span style="flex:1; text-align: center; padding: 8px;"><span th:text="#{common.label.total}"></span></span>
                    </div>
                    <div class="dayCh" id="dStatus1" >
                    </div>
                    <div class="dayCh" id="dStatus2" >
                    </div>
                    <div class="dayCh" id="dStatus3">
                    </div>
                </div>
            </div>
            <div class="box1">
                <div style="padding-top: 8px;">
                    <span class="title"><span th:text="#{dashboard.monitoring.label.monthly.status}"></span></span>
                    <span class="updateDate" style=" font-size:14px; color:#9CA6B4; margin-left: 330px;"></span>
                </div>
                <hr class="line" width="589px">
                <div style="width: 580px; height: 140px; margin-left: 16px;">
                    <div style="width: 100%; height: 44px; display: flex; color: #111111;">
                        <span style="flex:1; padding: 8px;"><span th:text="#{common.label.type}"></span></span>
                        <span style="flex:1; text-align: center; padding: 8px;"><span th:text="#{recharging.label.fast.charging}"></span></span>
                        <span style="flex:1; text-align: center; padding: 8px;"><span th:text="#{recharging.label.slow.charging}"></span></span>
                        <span style="flex:1; text-align: center; padding: 8px;"><span th:text="#{common.label.total}"></span></span>
                    </div>
                    <div class="monthCh" id="mStatus1" >
                    </div>
                    <div class="monthCh" id="mStatus2">
                    </div>
                    <div class="monthCh" id="mStatus3">
                    </div>
                </div>
            </div>
            <div class="box2">
                <p class="title" style="margin-bottom: 3px;"><span th:text="#{dashboard.monitoring.label.hourly.charge.amount}"></span> <span id="today"></span></p>
                <div id="chart"></div>
            </div>
            <div class="box2">
                <p class="title"><span th:text="#{dashboard.monitoring.label.recent.7days}"></span></p>
                <div id="weekChart"></div>
            </div>
        </div>
        <div class="content">
            <div class="box3">
                <div style="padding-top: 8px;">
                    <span class="title"><span th:text="#{dashboard.monitoring.label.charger.status}"></span></span>
                    <span id="csText" class="chTotal" style=" font-size:14px; color:#9CA6B4; margin-left: 250px;"></span>
                </div>

                <hr class="line2" width="589px">
                <div id="csQuick" style="height: 164px; ">
                    <p id="quickT" style="margin-left: 16px; margin-bottom: 10px;"></p>
                    <div class="pie-chart quick-chart1" style="color: #3A7AF6;"><div class="center"><div class="quickTxt" id="quick1"></div></div></div>
                    <div class="pie-chart quick-chart2" style="color: #19B100;"><span class="center"><div class="quickTxt" id="quick2"></div></span></div>
                    <div class="pie-chart quick-chart3" style="color: #EE781F;"><span class="center"><div class="quickTxt" id="quick3"></div></span></div>
                    <div class="pie-chart quick-chart4" style="color: #666666;"><span class="center"><div class="quickTxt" id="quick4"></div></span></div>
                </div>
                <hr class="line2" width="589px">
                <div id="csSlow" style="height: 194px; margin-top:5px">
                    <p id="slowT" style="margin-left: 16px; margin-bottom: 10px;"></p>
                    <div class="pie-chart slow-chart1" style="color: #3A7AF6;"><span class="center"><div class="slowTxt" id="slow1"></div></span></div>
                    <div class="pie-chart slow-chart2" style="color: #19B100;"><span class="center"><div class="slowTxt" id="slow2"></div></span></div>
                    <div class="pie-chart slow-chart3" style="color: #EE781F;"><span class="center"><div class="slowTxt" id="slow3"></div></span></div>
                    <div class="pie-chart slow-chart4" style="color: #666666;"><span class="center"><div class="slowTxt" id="slow4"></div></span></div>
                </div>
            </div>
            <div class="box4">
                <div style="padding-top: 8px;">
                    <span class="title"><span th:text="#{dashboard.monitoring.label.abnormal.charger.list}"></span></span>
                    <span style=" font-size:10px; color:#EE781F; margin-left: 350px;">&#9632; <span th:text="#{dashboard.monitoring.label.communication.error}"></span> &nbsp; </span>
                    <span style=" font-size:10px; color:#666666;">&#9632; <span th:text="#{dashboard.monitoring.label.breakdown.inspection}"></span></span>
                </div>
                <hr class="line" width="589px">
                <div id="subtitle" style="margin-top: 12px; margin-bottom: 5px; font-size: 14px;color: #333333;">
                    <span style="margin-left: 24px"><span th:text="#{common.label.status}"></span></span>
                    <span style="margin-left: 18px"><span th:text="#{charger.station.name}"></span></span>
                    <span style="margin-left: 135px"><span th:text="#{charger.status.info.chargerId}"></span></span>
                    <span style="margin-left: 110px"><span th:text="#{dashboard.monitoring.label.received.date}"></span></span>
                </div>
                <div id="unCpList" style="list-style: none; padding: 0px; height:440px; width: 600px; overflow:auto;" >
                </div>
            </div>
        </div>
    </div>
</body>

<script type="text/javascript" th:src="@{/resources/lib/js/highcharts.js}"></script>
<script type="text/javascript" th:src="@{/resources/lib/js/highcharts-3d.js}"></script>
<script type="text/javascript" th:src="@{/resources/lib/js/exporting.js}"></script>
<script type="text/javascript" th:src="@{/resources/lib/js/marker/MarkerClustering.js}"></script>
<script th:inline="javascript">
if (typeof _msg === 'undefined') { var _msg = {}; }
Object.assign(_msg, {
    chCount: /*[[#{js.dashboard.chCount}]]*/ '',
    chAmount: /*[[#{js.dashboard.chAmount}]]*/ '',
    chCost: /*[[#{js.dashboard.chCost}]]*/ '',
    base: /*[[#{js.dashboard.base}]]*/ '',
    chAmountKwh: /*[[#{js.dashboard.chAmountKwh}]]*/ '',
    chCountLabel: /*[[#{js.dashboard.chCount}]]*/ '',
    quick: /*[[#{js.dashboard.quick}]]*/ '',
    slow: /*[[#{js.dashboard.slow}]]*/ '',
    unit: /*[[#{js.dashboard.unit}]]*/ '',
    quickStatus: /*[[#{js.dashboard.quickStatus}]]*/ '',
    slowStatus: /*[[#{js.dashboard.slowStatus}]]*/ '',
    available: /*[[#{js.dashboard.available}]]*/ '',
    charging: /*[[#{js.dashboard.charging}]]*/ '',
    commError2: /*[[#{js.dashboard.commError2}]]*/ '',
    breakdown: /*[[#{js.dashboard.breakdown}]]*/ '',
    totalCs: /*[[#{js.dashboard.totalCs}]]*/ ''
});
</script>
<script type="text/javascript" th:src="@{/resources/js/popup/monitoringPopup.js(v=20230731001)}"></script>

<script type="text/javascript">
    $(document).ready(function() {
        monitoringPopupJs.init();
    });
</script>

</html>
