<div class="modal inmodal fade" id="Popup_PwReset" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
                        class="sr-only">Close</span></button>
                <h4 class="modal-title"><span>고객 비밀번호 초기화</span></h4>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <table class="table table-bordered table-striped">
                        <tbody>
                        <tr>
                            <td><span>고객 ID</span></td>
                            <td id="Popup_PwReset_customerId"></td>
                        </tr>
                        <tr>
                            <td><span>고객명</span></td>
                            <td id="Popup_PwReset_custName"></td>
                        </tr>
                        <tr>
                            <td><span>신규 비밀번호</span></td>
                            <td>
                                <input type="text" id="Popup_PwReset_newPw" placeholder="8~16자리를 입력해주세요"
                                       class="form-control input-sm">
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" id="Popup_PwReset_btnReset"><span>초기화</span></button>
                    <button type="button" class="btn btn-white" data-dismiss="modal"><span>닫기</span></button>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
if (typeof _msg === 'undefined') { var _msg = {}; }
Object.assign(_msg, {
    pwReset: '비밀번호 초기화',
    pwEnter: '초기화할 비밀번호를 입력해주세요',
    pwLength: '8~16자리를 입력해주세요',
    pwConfirm: '비밀번호를 초기화하시겠습니까?',
    customerMgmt: '고객관리',
    modify: '수정',
    cancel: '취소'
});
</script>
<script type="text/javascript" th:src="@{/resources/js/popup/pwResetPopup.js(v=20230731001)}"></script>
