<script type="text/javascript" th:src="@{/resources/js/popup/qrCodePopup.js(v=20230731001)}"></script>

<div class="modal inmodal fade" id="Popup_QRCode" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
                        class="sr-only">Close</span></button>
                <h4 class="modal-title"><span>QR코드 선부여</span></h4>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <table class="table table-bordered table-striped">
                        <tbody>
                        <tr>
                            <th><span>제조사</span></th>
                            <td>
                                <select class="form-control input-sm" id="Popup_QRCode_maker">
                                    <option value="7"><span>KEVIT</span></option>
                                    <option value="6"><span>알박</span></option>
                                    <option value="8"><span>LS</span></option>
                                    <option value="9"><span>지알이</span></option>
                                </select></td>
                            <th><span>발급년도</span></th>
                            <td>
                                <select class="form-control input-sm" id="Popup_QRCode_year">
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <th><span>충전기수</span></th>
                            <td>
                                <input type="number" class="form-control input-sm" id="Popup_QRCode_count">
                            </td>
                            <th><span>트윈충전기</span></th>
                            <td>
                                <input type="checkbox" class="form-control input-sm" id="Popup_QRCode_twin">
                            </td>
                        </tr>
                        <tr>
                            <th><span>발급사유</span></th>
                            <td colspan="3">
                                <input type="text" class="form-control input-sm" id="Popup_QRCode_etc">
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" id="Popup_QRCode_btnRegister"><span>발급</span></button>
                <button type="button" class="btn btn-white" data-dismiss="modal"><span>닫기</span></button>
            </div>
        </div>
    </div>
</div>
