<script type="text/javascript" th:src="@{/resources/js/popup/qrCodePopup.js(v=20230731001)}"></script>

<div class="modal inmodal fade" id="Popup_QRCode" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
                        class="sr-only">Close</span></button>
                <h4 class="modal-title"><span th:text="#{popup.qrcode.title}"></span></h4>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <table class="table table-bordered table-striped">
                        <tbody>
                        <tr>
                            <th><span th:text="#{common.label.manufacturer}"></span></th>
                            <td>
                                <select class="form-control input-sm" id="Popup_QRCode_maker">
                                    <option value="7"><span th:text="#{popup.qrcode.manufacturer.kevit}"></span></option>
                                    <option value="6"><span th:text="#{popup.qrcode.manufacturer.albak}"></span></option>
                                    <option value="8"><span th:text="#{popup.qrcode.manufacturer.ls}"></span></option>
                                    <option value="9"><span th:text="#{popup.qrcode.manufacturer.gri}"></span></option>
                                </select></td>
                            <th><span th:text="#{popup.qrcode.label.issue.year}"></span></th>
                            <td>
                                <select class="form-control input-sm" id="Popup_QRCode_year">
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <th><span th:text="#{popup.qrcode.label.charger.count}"></span></th>
                            <td>
                                <input type="number" class="form-control input-sm" id="Popup_QRCode_count">
                            </td>
                            <th><span th:text="#{popup.qrcode.label.twin.charger}"></span></th>
                            <td>
                                <input type="checkbox" class="form-control input-sm" id="Popup_QRCode_twin">
                            </td>
                        </tr>
                        <tr>
                            <th><span th:text="#{popup.qrcode.label.issue.reason}"></span></th>
                            <td colspan="3">
                                <input type="text" class="form-control input-sm" id="Popup_QRCode_etc">
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" id="Popup_QRCode_btnRegister"><span th:text="#{popup.coupon.btn.issue}"></span></button>
                <button type="button" class="btn btn-white" data-dismiss="modal"><span th:text="#{common.btn.close}"></span></button>
            </div>
        </div>
    </div>
</div>
