<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head th:replace="~{common/header :: head}"></head>
<body class="pace-done mini-navbar">

<script type="text/javascript" th:src="@{/resources/lib/js/plugins/datapicker/bootstrap-datepicker.js}"></script>
<script th:inline="javascript">
var _msg = {
    chargerIdDigit8: /*[[#{js.recharging.charger.id.digit8}]]*/ '',
    chargerId: /*[[#{js.recharging.charger.id}]]*/ '',
    pleaseWait: /*[[#{js.common.please.wait}]]*/ '',
    excelDownload: /*[[#{js.common.excel.download}]]*/ '',
    exceptionMgmt: /*[[#{js.recharging.exception.mgmt}]]*/ '',
    day: /*[[#{js.common.time.day}]]*/ '',
    hour: /*[[#{js.common.time.hour}]]*/ '',
    minute: /*[[#{js.common.time.minute}]]*/ '',
    second: /*[[#{js.common.time.second}]]*/ '',
    maxEnergyMgmt:        /*[[#{js.recharging.max.energy.mgmt}]]*/ '',
    btnEdit:              /*[[#{js.recharging.btn.edit}]]*/ '',
    confirmMaxEnergy:     /*[[#{js.recharging.confirm.max.energy}]]*/ '',
    successMaxEnergy:     /*[[#{js.recharging.success.max.energy}]]*/ '',
    failMaxEnergy:        /*[[#{js.recharging.fail.max.energy}]]*/ '',
    inputMaxEnergy:       /*[[#{js.recharging.input.max.energy}]]*/ '',
    onlyActiveMaxEnergy:  /*[[#{js.recharging.only.active.max.energy}]]*/ '',
    confirm:              /*[[#{common.btn.confirm}]]*/ '',
    cancel:               /*[[#{common.btn.cancel}]]*/ ''
};
</script>
<script type="text/javascript" th:src="@{/resources/js/recharging/recharging.js(v=20260611001)}"></script>
<div id="wrapper">
    <div id="page-wrapper" class="gray-bg" style="margin:0; padding:0;">
        <div class="wrapper wrapper-content">
            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5 th:text="#{recharging.list.title}"></h5>
                            <div class="ibox-tools">
                                <a class="collapse-link">
                                    <i class="fa fa-chevron-up"></i>
                                </a>
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                </a>
                            </div>
                        </div>
                        <div class="ibox-content">
                            <div class="row">
                                <div class="col-sm-6 m-b-xs">
                                    <div class="input-group" style="display: flex;">
                                        <select id="dateType" class="form-control input-sm" style="width: 110px;" disabled>
                                            <option value="S" selected th:text="#{recharging.label.start}"></option>
                                            <option value="E" th:text="#{recharging.label.end}"></option>
                                        </select>
                                        <div class="input-daterange input-group">
                                            <input type="text" class="input-sm form-control" id="date1"
                                                   style="max-width: 150px;" readonly>
                                            <span class="input-group-addon">~</span>
                                            <input type="text" class="input-sm form-control" id="date2"
                                                   style="max-width: 150px;" readonly>
                                        </div>
                                        <select id="dateOrder" class="form-control input-sm" style="max-width: 200px;">
                                            <option value="A"><span th:text="#{recharging.label.start}"></span> ↑</option>
                                            <option value="B" selected><span th:text="#{recharging.label.start}"></span> ↓</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-6 m-b-xs" style="text-align: right;" id="chaStatus">
                                    <label><span th:text="#{recharging.label.type}"></span>&nbsp;</label>
                                    <label><input type="radio" name="chaStatus" value=""><span th:text="#{common.label.all}"></span></label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-8 m-b-xs">
                                    <div class="input-group" style="width: 100%;">
                                    </div>
                                </div>
                                <div class="col-sm-4 m-b-xs">
                                    <div class="input-group">
                                        <span class="input-group-btn" style="width:30%">
                                            <select class="input-sm form-control input-sm inline" style="" id="sType" name="sType">
                                                <option value="CHARGE_POINT" th:text="#{recharging.label.charging.point}"></option>
                                                <option value="CHARGING_STATION" th:text="#{recharging.label.charger.id}"></option>
                                                <option value="RECHARGING_ID" th:text="#{recharging.label.id}"></option>
                                            </select>
                                        </span>
                                        <input type="text" id="searchKey" th:placeholder="#{common.placeholder.search.input}" class="form-control input-sm">
                                        <span class="input-group-btn">
                                            <button type="button" id="btnSearch" class="btn btn-sm btn-primary" th:text="#{common.btn.search}"></button>
                                        </span>
                                        <span class="input-group-btn">
                                            <button type="button" id="btnReset" class="btn btn-sm btn-warning" th:text="#{common.btn.reset}"></button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6" style="padding-top: 11px;">
                                    <label id="totalCount"></label>
                                </div>
                                <div class="col-sm-6" style="text-align: right;">
                                    <button type="button" id="saveExcelcs" class="btn btn-sm btn-default" th:text="#{common.btn.download}"></button>
                                </div>
                            </div>
                            <div class="table-responsive">
                                <div class="dataTables_wrapper form-inline dt-bootstrap">
                                    <div style="overflow-x: auto;">
                                        <table class="table table-striped table-bordered table-hover dataTables-example dataTable dtr-inline"
                                               style="white-space:nowrap; text-align:center;">
                                            <thead>
                                            <tr>
                                                <th th:text="#{common.label.no}"></th>
                                                <th th:text="#{recharging.label.id}"></th>
                                                <th th:text="#{recharging.label.charging.point}"></th>
                                                <th th:text="#{recharging.label.customer.card.no}"></th>
                                                <th th:text="#{recharging.label.id.tag.type}"></th>
                                                <th th:text="#{recharging.label.start.time}"></th>
                                                <th th:text="#{recharging.label.end.time}"></th>
                                                <th th:text="#{recharging.label.duration}"></th>
                                                <th th:text="#{recharging.label.status}"></th>
                                                <th th:text="#{recharging.label.amount}"></th>
                                                <th th:text="#{recharging.label.unit.price}"></th>
                                                <th th:text="#{recharging.label.amount.price}"></th>
                                                <th th:text="#{recharging.label.original.price}"></th>
                                                <th th:text="#{recharging.label.charger.id}"></th>
                                                <th th:text="#{recharging.label.channel}"></th>
                                                <th th:text="#{recharging.label.start.power}"></th>
                                                <th th:text="#{recharging.label.end.power}"></th>
                                                <th th:text="#{recharging.label.max.energy}"></th>
                                                <th th:text="#{recharging.label.parking.start}"></th>
                                                <th th:text="#{recharging.label.parking.end}"></th>
                                                <th th:text="#{recharging.label.cable.start}"></th>
                                                <th th:text="#{recharging.label.cable.end}"></th>
                                                <th th:text="#{recharging.label.action}"></th>
                                            </tr>
                                            </thead>
                                            <tbody id="tBodyList">
                                            </tbody>
                                            <tfoot>
                                            </tfoot>
                                        </table>
                                    </div>
                                    <div class="dataTables_paginate paging_simple_numbers" id="DataTables_Table_0_paginate">
                                        <ul class="pagination" id="pagingUl">
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="~{common/popup/customerInfo :: popup}"></div>
<div th:replace="~{common/popup/chargingPointInfo :: popup}"></div>

<!-- 최대 에너지 한도 변경 모달 -->
<div class="modal inmodal fade" id="Popup_Recharging_MaxEnergy" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title"><span th:text="#{recharging.popup.max.energy.title}"></span></h4>
            </div>
            <div class="modal-body">
                <table class="table table-bordered" style="background-color:white;">
                    <tr>
                        <th style="width:35%;"><span th:text="#{recharging.label.id}"></span></th>
                        <td><input type="text" id="me_rechargingId" class="form-control input-sm" readonly></td>
                    </tr>
                    <tr>
                        <th><span th:text="#{recharging.label.charging.point}"></span></th>
                        <td><input type="text" id="me_cpName" class="form-control input-sm" readonly></td>
                    </tr>
                    <tr>
                        <th><span th:text="#{recharging.label.start.time}"></span></th>
                        <td><input type="text" id="me_startTime" class="form-control input-sm" readonly></td>
                    </tr>
                    <tr>
                        <th><span th:text="#{recharging.label.current.max.energy}"></span></th>
                        <td><input type="text" id="me_currentMax" class="form-control input-sm" readonly style="text-align:right;"></td>
                    </tr>
                    <tr>
                        <th><span th:text="#{recharging.label.new.max.energy}"></span> *</th>
                        <td>
                            <input type="number" id="me_newMax" class="form-control input-sm" min="0" step="100" value="0" style="text-align:right;">
                            <div style="padding-top:6px;">
                                <button type="button" class="btn btn-xs btn-white me-quick" data-amt="1000">+1k</button>
                                <button type="button" class="btn btn-xs btn-white me-quick" data-amt="5000">+5k</button>
                                <button type="button" class="btn btn-xs btn-white me-quick" data-amt="10000">+10k</button>
                                <button type="button" class="btn btn-xs btn-default" id="meQuickUnlimited"><span th:text="#{recharging.label.unlimited}"></span></button>
                            </div>
                            <small class="text-muted"><span th:text="#{recharging.label.max.energy.hint}"></span></small>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="btnMaxEnergySave"><span th:text="#{common.btn.save}"></span></button>
                <button type="button" class="btn btn-white" data-dismiss="modal"><span th:text="#{common.btn.close}"></span></button>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    var pageInfoJs;
    jQuery(document).ready(function () {
        //
        pageInfoJs = new PageInfoJs();
        rechargingJs.init();
    });
</script>
</body>
</html>
