<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">

<head th:replace="~{common/header :: head}"></head>

<body class="pace-done mini-navbar">

    <script type="text/javascript" th:src="@{/resources/lib/js/plugins/datapicker/bootstrap-datepicker.js}"></script>
    <script>
        var _msg = {
            chargerIdDigit8: '충전기 ID 8자리를 입력해주세요.',
            chargerId: '충전기 ID',
            pleaseWait: '잠시만 기다려 주세요.',
            excelDownload: '엑셀 다운로드',
            exceptionMgmt: '충전장애관리',
            chargingStationMgmt: '충전기관리',
            day: '일',
            hour: '시간',
            minute: '분',
            second: '초',
            maxEnergyMgmt:        '최대 에너지 한도 관리',
            btnEdit:              '수정',
            confirmMaxEnergy:     '{0} Wh 로 변경하시겠습니까? (0 이면 한도 해제)',
            successMaxEnergy:     '정상적으로 변경되었습니다.',
            failMaxEnergy:        '변경에 실패하였습니다.',
            inputMaxEnergy:       '0 이상의 숫자를 입력해주세요.',
            onlyActiveMaxEnergy:  '진행 중(RECS02) 충전만 변경 가능합니다.',
            confirm:              '확인',
            cancel:               '취소'
        };
    </script>
    <script type="text/javascript" th:src="@{/resources/js/recharging/recharging.js(v=20260818002)}"></script>
    <script type="text/javascript" th:src="@{/resources/js/util/commonCode.js}"></script>
    <div id="wrapper">
        <div id="page-wrapper" class="gray-bg" style="margin:0; padding:0;">
            <div class="wrapper wrapper-content">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="ibox float-e-margins">
                            <div class="ibox-title">
                                <h5>충전이력</h5>
                                <div class="ibox-tools">
                                    <a class="collapse-link">
                                        <i class="fa fa-chevron-up"></i>
                                    </a>
                                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                    </a>
                                </div>
                            </div>
                            <div class="ibox-content">
                                <div class="row">
                                    <div class="col-sm-12 m-b-xs">
                                        <div class="input-group" style="display: flex;">
                                            <label style="padding-top: 5px;"><span>충전기간</span> : &nbsp;</label>
                                            <select id="dateType" class="form-control input-sm" style="width: 110px; display: inline-block;">
                                                <option value="S" selected>충전시작</option>
                                                <option value="E">충전종료</option>
                                            </select>
                                            <div class="input-daterange input-group">
                                                <input type="text" class="input-sm form-control" id="date1" style="display: inline-block; max-width: 150px; background-color: #FFFFFF;" >
                                                <span class="input-group-addon" style="background-color:#FFFFFF; border: 0;">~</span>
                                                <input type=" text" class="input-sm form-control" id="date2" style="display: inline-block; max-width: 150px; background-color: #FFFFFF;" >
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-8 m-b-xs">
                                        <label><span>충전상태</span> : &nbsp;</label>
                                        <select id="chaStatus" class="form-control input-sm" style="display: inline-block; width: auto;">
                                            <option value="" selected>전체</option>
                                        </select>
                                    </div>
                                    <div class="col-sm-4 m-b-xs">
                                        <div class="input-group">
                                            <span class="input-group-btn" style="width:30%">
                                                <select class="input-sm form-control input-sm inline" id="sType" name="sType">
                                                    <option value="CHARGE_POINT">충전소명</option>
                                                    <option value="CHARGING_STATION">충전기ID</option>
                                                    <option value="RECHARGING_ID">충전ID</option>
                                                </select>
                                            </span>
                                            <input type="text" id="searchKey" placeholder="검색어를 입력해주세요" class="form-control input-sm">
                                            <span class="input-group-btn">
                                                <button type="button" id="btnSearch" class="btn btn-sm btn-primary">검색</button>
                                            </span>
                                            <span class="input-group-btn">
                                                <button type="button" id="btnReset" class="btn btn-sm btn-warning">초기화</button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6" style="padding-top: 11px;">
                                        <label id="totalCount"></label>
                                    </div>
                                    <div class="col-sm-6" style="text-align: right;">
                                        <button type="button" id="saveExcelcs" class="btn btn-sm btn-info">엑셀다운로드</button> <!-- RC_002-->
                                        <button type="button" id="saveMonthlyReport" class="btn btn-sm btn-info">월별충전내역다운로드</button> <!-- RC_003-->
                                    </div>
                                </div>
                                <div class="table-responsive">
                                    <div class="dataTables_wrapper form-inline dt-bootstrap">
                                        <div style="overflow-x: auto;">
                                            <table
                                                class="table table-striped table-bordered table-hover dataTables-example dataTable dtr-inline"
                                                style="white-space:nowrap; text-align:center;">
                                                <thead>
                                                    <tr>
                                                        <th>번호</th>
                                                        <th>충전ID
                                                            <a href="javascript:void(0)" class="sortBtn" data-asc="E" data-desc="F" data-state="desc" title="정렬" style="font-size:1em;">▼</a>
                                                        </th>
                                                        <th>충전소명</th>
                                                        <th>충전기ID
                                                            <a href="javascript:void(0)" class="sortBtn" data-asc="G" data-desc="H" data-state="desc" title="정렬" style="font-size:1em;">▼</a>
                                                        </th>
                                                        <th>채널</th>
                                                        <th>회원카드번호</th>
                                                        <th>단지명</th>
                                                        <th>동</th>
                                                        <th>호</th>
                                                        <th>고객명</th>
                                                        <th>충전시작시간
                                                            <a href="javascript:void(0)" class="sortBtn" data-asc="A" data-desc="B" data-state="desc" title="정렬" style="font-size:1em;">▼</a>
                                                        </th>
                                                        <th>충전종료시간
                                                            <a href="javascript:void(0)" class="sortBtn" data-asc="C" data-desc="D" data-state="desc" title="정렬" style="font-size:1em;">▼</a>
                                                        </th>
                                                        <th>충전소요시간</th>
                                                        <th>충전상태</th>
                                                        <th>충전량(kWh)</th>
                                                        <th>충전단가(원)</th>
                                                        <th>사용금액(원)</th>
                                                        <th>시작전력량(kWh)</th>
                                                        <th>종료전력량(kWh)</th>
                                                    </tr>
                                                </thead>
                                                <tbody id="tBodyList">
                                                </tbody>
                                                <tfoot>
                                                </tfoot>
                                            </table>
                                        </div>
                                        <div class="dataTables_paginate paging_simple_numbers"
                                            id="DataTables_Table_0_paginate">
                                            <ul class="pagination" id="pagingUl">
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div th:replace="~{common/popup/customerInfo :: popup}"></div>
    <div th:replace="~{common/popup/chargingPointInfo :: popup}"></div>

    <!-- 최대 에너지 한도 변경 모달 -->
    <div class="modal inmodal fade" id="Popup_Recharging_MaxEnergy" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title"><span>최대 에너지 한도 변경</span></h4>
                </div>
                <div class="modal-body">
                    <table class="table table-bordered" style="background-color:white;">
                        <tr>
                            <th style="width:35%;"><span>충전ID</span></th>
                            <td><input type="text" id="me_rechargingId" class="form-control input-sm" readonly></td>
                        </tr>
                        <tr>
                            <th><span>충전소명</span></th>
                            <td><input type="text" id="me_cpName" class="form-control input-sm" readonly></td>
                        </tr>
                        <tr>
                            <th><span>충전시작시간</span></th>
                            <td><input type="text" id="me_startTime" class="form-control input-sm" readonly></td>
                        </tr>
                        <tr>
                            <th><span>현재 한도(Wh)</span></th>
                            <td><input type="text" id="me_currentMax" class="form-control input-sm" readonly
                                    style="text-align:right;"></td>
                        </tr>
                        <tr>
                            <th><span>새 한도(Wh)</span> *</th>
                            <td>
                                <input type="number" id="me_newMax" class="form-control input-sm" min="0" step="100"
                                    value="0" style="text-align:right;">
                                <div style="padding-top:6px;">
                                    <button type="button" class="btn btn-xs btn-white me-quick"
                                        data-amt="1000">+1k</button>
                                    <button type="button" class="btn btn-xs btn-white me-quick"
                                        data-amt="5000">+5k</button>
                                    <button type="button" class="btn btn-xs btn-white me-quick"
                                        data-amt="10000">+10k</button>
                                    <button type="button" class="btn btn-xs btn-default" id="meQuickUnlimited"><span
                                           >무제한</span></button>
                                </div>
                                <small class="text-muted"><span
                                       >0 입력 시 한도 해제</span></small>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="btnMaxEnergySave"><span
                           >저장</span></button>
                    <button type="button" class="btn btn-white" data-dismiss="modal"><span
                           >닫기</span></button>
                </div>
            </div>
        </div>
    </div>
    <!-- 월별충전내역보고서 모달 -->
    <div class="modal inmodal fade" id="Popup_Recharging_MonthlyReport" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title"><span>월별충전내역보고서</span></h4>
                </div>
                <div class="modal-body">
                    <table class="table table-bordered" style="background-color:white;">
                        <tr>
                            <th style="width:35%;"><span>조회월</span></th>
                            <td>
                                <select id="mr_year" class="form-control input-sm" style="display:inline-block; width:48%;"></select>
                                <select id="mr_month" class="form-control input-sm" style="display:inline-block; width:48%;"></select>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="btnMonthlyReportDownload"><span
                           >다운로드</span></button>
                    <button type="button" class="btn btn-white" data-dismiss="modal"><span
                           >닫기</span></button>
                </div>
            </div>
        </div>
    </div>
    <!-- chargerInfo popup include -->
    <div th:replace="~{common/popup/chargerInfo :: chargerInfo}"></div>
    <script type="text/javascript">
        var pageInfoJs;
        jQuery(document).ready(function () {
            //
            pageInfoJs = new PageInfoJs();
            rechargingJs.init();
        });
    </script>
</body>

</html>