<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head th:replace="~{common/header :: head}"></head>
<body class="pace-done mini-navbar">

<script type="text/javascript" th:src="@{/resources/lib/js/plugins/datapicker/bootstrap-datepicker.js}"></script>
<script th:inline="javascript">
var _msg = {
    pleaseWait: /*[[#{js.common.please.wait}]]*/ ''
};
</script>
<script type="text/javascript" th:src="@{/resources/js/recharging/discharging/dischargingList.js(v=20260611002)}"></script>
<div id="wrapper">
    <div id="page-wrapper" class="gray-bg" style="margin:0; padding:0;">
        <div class="wrapper wrapper-content">
            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5 th:text="#{discharging.list.title}"></h5>
                            <div class="ibox-tools">
                                <a class="collapse-link">
                                    <i class="fa fa-chevron-up"></i>
                                </a>
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                </a>
                            </div>
                        </div>
                        <div class="ibox-content">
                            <div class="row">
                                <div class="col-sm-6 m-b-xs">
                                    <div class="input-group" style="display: flex;">
                                        <select id="dateType" class="form-control input-sm" style="width: 110px;">
                                            <option value="S" selected th:text="#{discharging.col.start}"></option>
                                            <option value="E" th:text="#{discharging.col.end}"></option>
                                        </select>
                                        <div class="input-daterange input-group">
                                            <input type="text" class="input-sm form-control" id="date1"
                                                   style="max-width: 150px;" readonly>
                                            <span class="input-group-addon">~</span>
                                            <input type="text" class="input-sm form-control" id="date2"
                                                   style="max-width: 150px;" readonly>
                                        </div>
                                        <select id="dateOrder" class="form-control input-sm" style="max-width: 200px;">
                                            <option value="A"><span th:text="#{discharging.col.start}"></span> ↑</option>
                                            <option value="B" selected><span th:text="#{discharging.col.start}"></span> ↓</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-6 m-b-xs" style="text-align: right;" id="dchStatus">
                                    <label><span th:text="#{discharging.label.status}"></span>&nbsp;</label>
                                    <label><input type="radio" name="dchStatus" value="" checked><span th:text="#{discharging.option.all}"></span></label>
                                    <label><input type="radio" name="dchStatus" value="DCSS01"><span th:text="#{discharging.status.start}"></span></label>
                                    <label><input type="radio" name="dchStatus" value="DCSS02"><span th:text="#{discharging.status.discharging}"></span></label>
                                    <label><input type="radio" name="dchStatus" value="DCSS03"><span th:text="#{discharging.status.completed}"></span></label>
                                    <label><input type="radio" name="dchStatus" value="DCSS04"><span th:text="#{discharging.status.stopped}"></span></label>
                                    <label><input type="radio" name="dchStatus" value="DCSS05"><span th:text="#{discharging.status.failed}"></span></label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-8 m-b-xs">
                                    <div class="input-group" style="width: 100%;">
                                    </div>
                                </div>
                                <div class="col-sm-4 m-b-xs">
                                    <div class="input-group">
                                        <span class="input-group-btn" style="width:30%">
                                            <select class="input-sm form-control input-sm inline" id="sType" name="sType">
                                                <option value="CP_ID" th:text="#{discharging.label.cp.id}"></option>
                                                <option value="CS_ID" th:text="#{discharging.label.cs.id}"></option>
                                                <option value="EVCC_ID" th:text="#{discharging.label.evcc.id}"></option>
                                                <option value="DC_ID" th:text="#{discharging.label.dc.id}"></option>
                                            </select>
                                        </span>
                                        <input type="text" id="searchKey" th:placeholder="#{common.placeholder.search.input}" class="form-control input-sm">
                                        <span class="input-group-btn">
                                            <button type="button" id="btnSearch" class="btn btn-sm btn-primary" th:text="#{common.btn.search}"></button>
                                        </span>
                                        <span class="input-group-btn">
                                            <button type="button" id="btnReset" class="btn btn-sm btn-warning" th:text="#{common.btn.reset}"></button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6" style="padding-top: 11px;">
                                    <label id="totalCount"></label>
                                </div>
                                <div class="col-sm-6" style="text-align: right;">
                                </div>
                            </div>
                            <div class="table-responsive">
                                <div class="dataTables_wrapper form-inline dt-bootstrap">
                                    <div style="overflow-x: auto;">
                                        <table class="table table-striped table-bordered table-hover dataTables-example dataTable dtr-inline"
                                               style="white-space:nowrap; text-align:center;">
                                            <thead>
                                            <tr>
                                                <th th:text="#{common.label.no}"></th>
                                                <th th:text="#{discharging.col.dc.id}"></th>
                                                <th th:text="#{discharging.col.cp}"></th>
                                                <th th:text="#{discharging.col.cs}"></th>
                                                <th th:text="#{discharging.col.evse}"></th>
                                                <th th:text="#{discharging.col.evcc.id}"></th>
                                                <th th:text="#{discharging.col.id.tag.type}"></th>
                                                <th th:text="#{discharging.col.car}"></th>
                                                <th th:text="#{discharging.col.customer}"></th>
                                                <th th:text="#{discharging.col.start}"></th>
                                                <th th:text="#{discharging.col.end}"></th>
                                                <th th:text="#{discharging.col.amount}"></th>
                                                <th th:text="#{discharging.col.unit.cost}"></th>
                                                <th th:text="#{discharging.col.reward}"></th>
                                                <th th:text="#{discharging.col.status}"></th>
                                            </tr>
                                            </thead>
                                            <tbody id="dischargingTbody">
                                            </tbody>
                                            <tfoot>
                                            </tfoot>
                                        </table>
                                    </div>
                                    <div class="dataTables_paginate paging_simple_numbers" id="DataTables_Table_0_paginate">
                                        <ul class="pagination" id="pagingUl">
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    var pageInfoJs;
    jQuery(document).ready(function () {
        //
        pageInfoJs = new PageInfoJs();
        dischargingListJs.init();
    });
</script>
</body>
</html>
