/OCPP-2.1_JSON/
/SUT API CSMS for OCPP 1.6_files/
/SUT API CSMS for OCPP 2.0.1_files/
/OCPP-2.1_part6-test_cases_csms.pdf
/OCPP-2.1_specification.pdf
/SUT API CSMS for OCPP 1.6.html
/SUT API CSMS for OCPP 2.0.1.html
/OCA OCPP 2.1_ Part 6 - Test case document Charging Station Management System for OCTT.html
/OCA OCPP 2.1_ Part 6 - Test case document Charging Station Management System for OCTT_files/