<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head th:replace="~{common/header :: head}"></head>
<body class="pace-done mini-navbar">
<script type="text/javascript" th:src="@{/resources/js/customer/cert/customerCert.js(v=20240101002)}"></script>
<div id="wrapper">
    <div id="page-wrapper" class="gray-bg" style="margin:0; padding:0;">
        <div class="wrapper wrapper-content">

            <!-- List Section -->
            <div id="listSection">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="ibox float-e-margins">
                            <div class="ibox-title">
                                <h5><span>고객 인증서 목록</span></h5>
                                <div class="ibox-tools">
                                    <a class="collapse-link">
                                        <i class="fa fa-chevron-up"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="ibox-content">
                                <div class="row">
                                    <div class="col-sm-12 m-b-xs">
                                        <div class="input-group">
                                            <span class="input-group-addon" style="width:auto; padding:6px 10px;">고객 ID</span>
                                            <input type="text" id="customerId" class="form-control input-sm" style="max-width:160px;" placeholder="고객 ID">
                                            <span class="input-group-addon" style="width:auto; padding:6px 10px;">eMaid</span>
                                            <input type="text" id="eMaid" class="form-control input-sm" style="max-width:180px;" placeholder="eMaid">
                                            <span class="input-group-addon" style="width:auto; padding:6px 10px;">PCID</span>
                                            <input type="text" id="pcid" class="form-control input-sm" style="max-width:160px;" placeholder="PCID">
                                            <span class="input-group-addon" style="width:auto; padding:6px 10px;">상태</span>
                                            <select id="status" class="form-control input-sm" style="max-width:150px;">
                                                <option value="">전체</option>
                                                <option value="CERT01">생성/갱신요청</option>
                                                <option value="CERT02">생성/갱신완료</option>
                                                <option value="CERT03">EV설치</option>
                                                <option value="CERT04">만료</option>
                                                <option value="CERT05">폐기</option>
                                            </select>
                                            <span class="input-group-btn">
                                                <button type="button" id="btnSearch" class="btn btn-sm btn-primary"><span>검색</span></button>
                                            </span>
                                            <span class="input-group-btn">
                                                <button type="button" id="btnReset" class="btn btn-sm btn-warning"><span>초기화</span></button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12" style="padding-top: 11px;">
                                        <label id="totalCount"></label>
                                    </div>
                                </div>
                                <div class="table-responsive">
                                    <div class="dataTables_wrapper form-inline dt-bootstrap">
                                        <div style="overflow-x: auto;">
                                            <table class="table table-striped table-bordered table-hover dataTables-example dataTable dtr-inline"
                                                   style="white-space:nowrap; text-align:center;">
                                                <thead>
                                                <tr>
                                                    <th><span>번호</span></th>
                                                    <th><span>eMaid</span></th>
                                                    <th><span>고객 ID</span></th>
                                                    <th><span>PCID</span></th>
                                                    <th><span>상태</span></th>
                                                    <th><span>유효 시작일</span></th>
                                                    <th><span>유효 종료일</span></th>
                                                    <th><span>등록일시</span></th>
                                                </tr>
                                                </thead>
                                                <tbody id="tBodyList">
                                                </tbody>
                                                <tfoot></tfoot>
                                            </table>
                                        </div>
                                        <div class="dataTables_paginate paging_simple_numbers" id="DataTables_Table_0_paginate">
                                            <ul class="pagination" id="pagingUl"></ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Detail Section (hidden by default) -->
            <div id="detailSection" style="display:none;">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="ibox float-e-margins">
                            <div class="ibox-title">
                                <h5><span>고객 인증서 상세</span></h5>
                                <div class="ibox-tools">
                                    <a class="collapse-link">
                                        <i class="fa fa-chevron-up"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="ibox-content">
                                <div class="table-responsive">
                                    <table class="table table-bordered table-striped">
                                        <tbody>
                                        <colgroup>
                                            <col width="15%">
                                            <col width="35%">
                                            <col width="15%">
                                            <col width="35%">
                                        </colgroup>
                                        <tr>
                                            <th>eMaid</th>
                                            <td id="detail_eMaid"></td>
                                            <th>고객 ID</th>
                                            <td id="detail_customerId"></td>
                                        </tr>
                                        <tr>
                                            <th>PCID</th>
                                            <td id="detail_pcid"></td>
                                            <th>상태</th>
                                            <td>
                                                <select id="detail_status" class="form-control input-sm" style="max-width:200px; display:inline-block; width:auto;">
                                                    <option value="CERT01">생성/갱신요청</option>
                                                    <option value="CERT02">생성/갱신완료</option>
                                                    <option value="CERT03">EV설치</option>
                                                    <option value="CERT04">만료</option>
                                                    <option value="CERT05">폐기</option>
                                                </select>
                                                <button type="button" id="btnChangeStatus" class="btn btn-sm btn-primary"><span>저장</span></button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>Serial Number</th>
                                            <td id="detail_serialNumber"></td>
                                            <th>XSD 네임스페이스</th>
                                            <td id="detail_xsdMsgDefNamespace"></td>
                                        </tr>
                                        <tr>
                                            <th>Subject DN</th>
                                            <td colspan="3" id="detail_subjectDn"></td>
                                        </tr>
                                        <tr>
                                            <th>유효 시작일</th>
                                            <td id="detail_certValidFrom"></td>
                                            <th>유효 종료일</th>
                                            <td id="detail_certValidTo"></td>
                                        </tr>
                                        <tr>
                                            <th>OCSP Responder URL</th>
                                            <td colspan="3" id="detail_ocspResponderURL"></td>
                                        </tr>
                                        <tr>
                                            <th>등록일시</th>
                                            <td id="detail_regDate"></td>
                                            <th>수정일시</th>
                                            <td id="detail_updDate"></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    <div class="ibox-content">
                                        <button class="btn btn-white pull-right" id="btnBackToList"><span>목록</span></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<script type="text/javascript">
    var pageInfoJs;
    jQuery(document).ready(function () {
        pageInfoJs = new PageInfoJs();
        customerCertJs.init();
    });
</script>
</body>
</html>
