<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head th:replace="~{common/header :: head}"></head>
<body class="pace-done mini-navbar">
<script type="text/javascript" th:src="@{/resources/js/customer/cert/customerCert.js(v=20240101002)}"></script>
<div id="wrapper">
    <div id="page-wrapper" class="gray-bg" style="margin:0; padding:0;">
        <div class="wrapper wrapper-content">

            <!-- List Section -->
            <div id="listSection">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="ibox float-e-margins">
                            <div class="ibox-title">
                                <h5><span th:text="#{cert.customer.list.title}"></span></h5>
                                <div class="ibox-tools">
                                    <a class="collapse-link">
                                        <i class="fa fa-chevron-up"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="ibox-content">
                                <div class="row">
                                    <div class="col-sm-12 m-b-xs">
                                        <div class="input-group">
                                            <span class="input-group-addon" style="width:auto; padding:6px 10px;" th:text="#{cert.customer.label.customerId}"></span>
                                            <input type="text" id="customerId" class="form-control input-sm" style="max-width:160px;" th:placeholder="#{cert.customer.label.customerId}">
                                            <span class="input-group-addon" style="width:auto; padding:6px 10px;" th:text="#{cert.customer.label.eMaid}"></span>
                                            <input type="text" id="eMaid" class="form-control input-sm" style="max-width:180px;" th:placeholder="#{cert.customer.label.eMaid}">
                                            <span class="input-group-addon" style="width:auto; padding:6px 10px;" th:text="#{cert.customer.label.pcid}"></span>
                                            <input type="text" id="pcid" class="form-control input-sm" style="max-width:160px;" th:placeholder="#{cert.customer.label.pcid}">
                                            <span class="input-group-addon" style="width:auto; padding:6px 10px;" th:text="#{common.label.status}"></span>
                                            <select id="status" class="form-control input-sm" style="max-width:150px;">
                                                <option value="" th:text="#{common.label.all}"></option>
                                                <option value="CERT01" th:text="#{cert.customer.status.createRequest}"></option>
                                                <option value="CERT02" th:text="#{cert.customer.status.createComplete}"></option>
                                                <option value="CERT03" th:text="#{cert.customer.status.evInstalled}"></option>
                                                <option value="CERT04" th:text="#{cert.customer.status.expired}"></option>
                                                <option value="CERT05" th:text="#{cert.customer.status.revoked}"></option>
                                            </select>
                                            <span class="input-group-btn">
                                                <button type="button" id="btnSearch" class="btn btn-sm btn-primary"><span th:text="#{common.btn.search}"></span></button>
                                            </span>
                                            <span class="input-group-btn">
                                                <button type="button" id="btnReset" class="btn btn-sm btn-warning"><span th:text="#{common.btn.reset}"></span></button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12" style="padding-top: 11px;">
                                        <label id="totalCount"></label>
                                    </div>
                                </div>
                                <div class="table-responsive">
                                    <div class="dataTables_wrapper form-inline dt-bootstrap">
                                        <div style="overflow-x: auto;">
                                            <table class="table table-striped table-bordered table-hover dataTables-example dataTable dtr-inline"
                                                   style="white-space:nowrap; text-align:center;">
                                                <thead>
                                                <tr>
                                                    <th><span th:text="#{common.label.no}"></span></th>
                                                    <th><span th:text="#{cert.customer.label.eMaid}"></span></th>
                                                    <th><span th:text="#{cert.customer.label.customerId}"></span></th>
                                                    <th><span th:text="#{cert.customer.label.pcid}"></span></th>
                                                    <th><span th:text="#{common.label.status}"></span></th>
                                                    <th><span th:text="#{cert.customer.label.validFrom}"></span></th>
                                                    <th><span th:text="#{cert.customer.label.validTo}"></span></th>
                                                    <th><span th:text="#{cert.customer.label.regDate}"></span></th>
                                                </tr>
                                                </thead>
                                                <tbody id="tBodyList">
                                                </tbody>
                                                <tfoot></tfoot>
                                            </table>
                                        </div>
                                        <div class="dataTables_paginate paging_simple_numbers" id="DataTables_Table_0_paginate">
                                            <ul class="pagination" id="pagingUl"></ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Detail Section (hidden by default) -->
            <div id="detailSection" style="display:none;">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="ibox float-e-margins">
                            <div class="ibox-title">
                                <h5><span th:text="#{cert.customer.detail.title}"></span></h5>
                                <div class="ibox-tools">
                                    <a class="collapse-link">
                                        <i class="fa fa-chevron-up"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="ibox-content">
                                <div class="table-responsive">
                                    <table class="table table-bordered table-striped">
                                        <tbody>
                                        <colgroup>
                                            <col width="15%">
                                            <col width="35%">
                                            <col width="15%">
                                            <col width="35%">
                                        </colgroup>
                                        <tr>
                                            <th th:text="#{cert.customer.label.eMaid}"></th>
                                            <td id="detail_eMaid"></td>
                                            <th th:text="#{cert.customer.label.customerId}"></th>
                                            <td id="detail_customerId"></td>
                                        </tr>
                                        <tr>
                                            <th th:text="#{cert.customer.label.pcid}"></th>
                                            <td id="detail_pcid"></td>
                                            <th th:text="#{common.label.status}"></th>
                                            <td>
                                                <select id="detail_status" class="form-control input-sm" style="max-width:200px; display:inline-block; width:auto;">
                                                    <option value="CERT01" th:text="#{cert.customer.status.createRequest}"></option>
                                                    <option value="CERT02" th:text="#{cert.customer.status.createComplete}"></option>
                                                    <option value="CERT03" th:text="#{cert.customer.status.evInstalled}"></option>
                                                    <option value="CERT04" th:text="#{cert.customer.status.expired}"></option>
                                                    <option value="CERT05" th:text="#{cert.customer.status.revoked}"></option>
                                                </select>
                                                <button type="button" id="btnChangeStatus" class="btn btn-sm btn-primary"><span th:text="#{common.btn.save}"></span></button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th th:text="#{cert.customer.label.serialNumber}"></th>
                                            <td id="detail_serialNumber"></td>
                                            <th th:text="#{cert.customer.label.xsdNamespace}"></th>
                                            <td id="detail_xsdMsgDefNamespace"></td>
                                        </tr>
                                        <tr>
                                            <th th:text="#{cert.customer.label.subjectDn}"></th>
                                            <td colspan="3" id="detail_subjectDn"></td>
                                        </tr>
                                        <tr>
                                            <th th:text="#{cert.customer.label.validFrom}"></th>
                                            <td id="detail_certValidFrom"></td>
                                            <th th:text="#{cert.customer.label.validTo}"></th>
                                            <td id="detail_certValidTo"></td>
                                        </tr>
                                        <tr>
                                            <th th:text="#{cert.customer.label.ocspUrl}"></th>
                                            <td colspan="3" id="detail_ocspResponderURL"></td>
                                        </tr>
                                        <tr>
                                            <th th:text="#{cert.customer.label.regDate}"></th>
                                            <td id="detail_regDate"></td>
                                            <th th:text="#{cert.customer.label.updDate}"></th>
                                            <td id="detail_updDate"></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    <div class="ibox-content">
                                        <button class="btn btn-white pull-right" id="btnBackToList"><span th:text="#{common.btn.list}"></span></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<script type="text/javascript">
    var pageInfoJs;
    jQuery(document).ready(function () {
        pageInfoJs = new PageInfoJs();
        customerCertJs.init();
    });
</script>
</body>
</html>
