<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head th:replace="~{common/header :: head}"></head>
<body>
<script>
var _msg = {
    customerMgmt: '고객관리',
    cardDigit16: '회원카드번호 16자리를 입력해주세요.',
    confirmChangeCustomer: '고객정보를 변경하시겠습니까?',
    registerCardVehicleGuide: '이어서 회원카드와 차량을 등록해주세요.',
    confirm: '확인',
    cancel: '취소',
    edit: '수정',
    validCustName: '올바른 고객명을 입력해 주세요.',
    validPhone: '휴대폰 번호를 입력해 주세요.',
    validPhoneFormat: '올바른 휴대폰 번호를 입력해 주세요.',
    validEmailLength: '200자 이내의 이메일주소를 입력해 주세요.',
    validEmailFormat: '올바른 형식의 이메일주소를 입력해주세요.'
};
</script>
<script type="text/javascript" th:src="@{/resources/js/customer/customer.js(v=20260820002)}"></script>
<script type="text/javascript" th:src="@{/resources/js/util/validate.js}"></script>
<script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script th:src="@{/resources/lib/js/plugins/iCheck/icheck.min.js}"></script>
<div id="wrapper">
    <div id="page-wrapper" class="gray-bg" style="margin: 0; padding: 0;">
        <div class="wrapper wrapper-content">
            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5 id="pageTitle" th:text="${customerId == null or customerId == '' ? '고객 등록' : '고객 상세'}">고객 등록</h5>
                            <div class="ibox-tools">
                                <a class="collapse-link">
                                    <i class="fa fa-chevron-up"></i>
                                </a>
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                </a>
                            </div>
                        </div>
                        <div class="ibox-content" style="padding-bottom: 0;">
                            <div class="table-responsive">
                                <table class="table table-bordered table-striped">
                                    <tbody>
                                    <colgroup>
                                        <col width="17%">
                                        <col width="17%">
                                        <col width="17%">
                                        <col width="17%">
                                        <col width="16%">
                                        <col width="16%">
                                    </colgroup>
                                    <tr>
                                        <th th:if="${customerId != null and customerId != ''}"><span>고객 ID</span></th>
                                        <td th:if="${customerId != null and customerId != ''}" th:text="${customerId}" colspan="5"></td>
                                    </tr>
                                    <tr>
                                        <th><span>세대주명</span><span style="color:red;">*</span></th>
                                        <td colspan="2">
                                            <input type="text" name="custName" id="custName" maxlength="20"
                                                   class="form-control input-sm"
                                                   th:style="${customerId == null or customerId == '' ? 'width:40%;' : ''}"
                                                   th:readonly="${customerId != null and customerId != ''}">
                                        </td>
                                        <th><span>세대정보</span><span style="color:red;">*</span></th>
                                        <td colspan="2">
                                            <div class="input-group">
                                                <span class="input-group-addon" style="display:contents;">
                                                    <input type="text" id="cxNum" style="width:100px;" class="form-control" maxlength="4" onKeyup="this.value=this.value.replace(/[^0-9]/g,'');"><span class="input-group-addon" style="border:0px; width:0; padding: 0;" >단지 </span>
                                                    <input type="text" id="dong" style="width:100px;" class="form-control" maxlength="4" onKeyup="this.value=this.value.replace(/[^0-9]/g,'');"><span class="input-group-addon" style="border:0px; width:0; padding: 0;" >동 </span>
                                                    <input type="text" id="ho" style="width:100px;" class="form-control" maxlength="4" onKeyup="this.value=this.value.replace(/[^0-9]/g,'');"><span class="input-group-addon" style="border:0px; width:0; padding: 0;" >호</span>
                                                </span>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th><span>휴대폰번호</span><span style="color:red;">*</span></th>
                                        <td colspan="2">
                                            <div class="input-group">
	                                        	<span class="input-group-addon" style="display:contents;">
		                                     		<select id="mblPhoneNo1" class="form-control">
			                                     			<option value="010" selected>010</option>
			                                     			<option value="011">011</option>
			                                     			<option value="016">016</option>
			                                     			<option value="016">017</option>
			                                     			<option value="018">018</option>
			                                     			<option value="018">019</option>
			                                     		</select>
		                                     		<span class="input-group-addon" style="border:0px; width:0; padding: 0;" >-</span>
		                                     		<input type="text" id="mblPhoneNo2" class="form-control" maxLength="4" onKeyup="this.value=this.value.replace(/[^0-9]/g,'');">
		                                     		<span class="input-group-addon" style="border:0px; width:0; padding: 0;">-</span>
		                                     		<input type="text" id="mblPhoneNo3" class="form-control" maxLength="4" onKeyup="this.value=this.value.replace(/[^0-9]/g,'');">
		                                     	</span>
	                                     	</div>
                                        </td>
                                        <th><span>이메일</span></th>
                                        <td colspan="2">
                                            <input type="text" id="email" name="email" maxlength="100" class="form-control input-sm">
                                        </td>
                                    </tr>
                                    <tr>
                                        <th><span>고객삭제</span></th>
                                        <td colspan="2">
                                            <label style="margin-right:15px;"><input type="radio" name="custDel" value="Y">Y</label>
                                            <label style="margin-right:15px;"><input type="radio" name="custDel" value="N" checked>N</label>
                                            <span id="custDelDT"></span>
                                        </td>
                                        <th><span>고객정지</span></th>
                                        <td colspan="2">
                                            <label style="margin-right:15px;"><input type="radio" name="custStop" value="Y">Y</label>
                                            <label style="margin-right:15px;"><input type="radio" name="custStop" value="N" checked>N</label>
                                            <span id="custStopDT"></span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th><span>등록일</span></th>
                                        <td colspan="2"><input type="text" id="regDate" class="form-control input-sm" readonly="readonly"/></td>
                                        <th><span>수정일</span></th>
                                        <td colspan="2"><input type="text" id="Date" class="form-control input-sm" readonly="readonly"/></td>
                                    </tr>
                                    </tbody>
                                </table>
                                <div class="ibox-content clearfix">
                                    <button class="btn btn-white pull-right" id="btnList">목록</button>
                                    <th:block th:if="${customerId == null or customerId == ''}">
                                        <button id="btnCustomerRegister" class="btn btn-success pull-right">등록</button>
                                    </th:block>
                                    <th:block th:unless="${customerId == null or customerId == ''}">
                                        <button id="btnCustomerUpdate" class="btn btn-warning pull-right">수정</button>
                                    </th:block>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- 회원카드목록 (세대당 최대 5장) — TB_CUCA001 -->
            <div class="row" id="cardListSection" th:style="${customerId == null or customerId == '' ? 'display:none;' : ''}">
                <div class="col-lg-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5><span>회원카드목록</span> <small id="cardListCount"></small></h5>
                            <div class="ibox-tools">
                                <button id="btnCardListAdd" class="btn btn-success btn-xs"><span>카드 추가</span></button>
                            </div>
                        </div>
                        <div class="ibox-content" style="padding-bottom: 0;">
                            <div class="table-responsive">
                                <table class="table table-bordered table-striped">
                                    <colgroup>
                                        <col width="20%">
                                        <col width="20%">
                                        <col width="20%">
                                        <col width="20%">
                                        <col width="20%">
                                    </colgroup>
                                    <thead>
                                        <tr>
                                            <th><span>회원카드번호</span></th>
                                            <th><span>카드상태</span></th>
                                            <th><span>등록일</span></th>
                                            <th><span>수정일</span></th>
                                            <th><span>관리</span></th>
                                        </tr>
                                    </thead>
                                    <tbody id="cardListTbody"></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- 보유 차량 (EVCCID) — TB_CUEV001 -->
            <div class="row" id="vehicleListSection" th:style="${customerId == null or customerId == '' ? 'display:none;' : ''}">
                <div class="col-lg-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5><span>등록 차량</span></h5>
                            <div class="ibox-tools">
                                <button id="btnVehicleAdd" class="btn btn-success btn-xs"><span>차량 추가</span></button>
                            </div>
                        </div>
                        <div class="ibox-content" style="padding-bottom: 0;">
                            <div class="table-responsive">
                                <table class="table table-bordered table-striped">
                                    <colgroup>
                                        <col width="20%">
                                        <col width="20%">
                                        <col width="20%">
                                        <col width="20%">
                                        <col width="20%">
                                    </colgroup>
                                    <thead>
                                        <tr>
                                            <th>차량번호</th>
                                            <th>차종</th>
                                            <th>등록일</th>
                                            <th>수정일</th>
                                            <th>관리</th>
                                        </tr>
                                    </thead>
                                    <tbody id="vehicleTbody"></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- 회원카드목록/등록 차량이 표출된 상태(기존 고객 상세, 또는 등록 직후 확장)에서는 '목록' 버튼을 이 아래로 옮겨서 보여준다. -->
            <div class="row" id="btnListBottomSection" style="display:none;">
                <div class="col-lg-12">
                    <div class="ibox-content clearfix" style="padding: 10px 20px;"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="~{common/popup/customerCardDetail :: popup}"></div>
<div th:replace="~{common/popup/customerVehicleDetail :: popup}"></div>
<script type="text/javascript" th:src="@{/resources/js/customer/customerVehicle.js(v=20260821002)}"></script>
<script type="text/javascript" th:src="@{/resources/js/customer/customerCardList.js(v=20260820005)}"></script>
<script th:inline="javascript">
    var customerId = /*[[${customerId}]]*/ '';
    jQuery(document).ready(function () {
        //
        customerJs.init();
        if (customerId && customerId !== '') {
            customerVehicleJs.init(customerId);
            customerCardListJs.init(customerId);
        }
    });
</script>
</body>
</html>
