<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head th:replace="~{common/header :: head}"></head>
<body>
<script type="text/javascript" th:src="@{/resources/js/organization/company/company.js(v=20230731001)}"></script>
<script type="text/javascript" th:src="@{/resources/js/util/validate.js}"></script>
<script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script th:src="@{/resources/lib/js/plugins/iCheck/icheck.min.js}"></script>
    <div id="wrapper">
        <div id="page-wrapper" class="gray-bg" style="margin: 0; padding: 0;">
            <div class="wrapper wrapper-content">
                <div class="row">
                    <div class="col-lg-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5 th:if="${companyId == null or companyId == ''}" th:text="#{org.company.form.title.create}"></h5>
                            <h5 th:unless="${companyId == null or companyId == ''}" th:text="#{org.company.form.title.detail}"></h5>
                            <div class="ibox-tools">
                                <a class="collapse-link">
                                    <i class="fa fa-chevron-up"></i>
                                </a>
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                </a>
                            </div>
                        </div>
                        <div class="ibox-content">
                             <div class="table-responsive">
                                 <table class="table table-bordered table-striped">
                                  <tbody>
                                       <colgroup>
                                            <col width="15%">
                                            <col width="35%">
                                            <col width="15%">
                                            <col width="35%">
                                      </colgroup>
                                      <tr>
                                         <th th:if="${companyId != null and companyId != ''}" th:text="#{org.company.label.id}"></th>
                                         <td th:if="${companyId != null and companyId != ''}" th:text="${companyId}"></td>
                                         <th><span th:text="#{org.company.label.name}"></span><span style="color:red;">*</span></th>
                                         <td th:colspan="${(companyId == null or companyId == '') ? '3' : '1'}">
                                            <input type="text" name="companyName" id="companyName" class="form-control input-sm">
                                         </td>
                                      </tr>
                                      <tr>
                                          <th><span th:text="#{org.company.label.biz.reg.no}"></span><span style="color:red;">*</span></th>
                                          <td>
                                              <input type="text" name="bizRegNo" id="bizRegNo" maxlength="10" class="form-control input-sm">
                                          </td>
                                          <th><span th:text="#{org.company.label.ceo.name}"></span><span style="color:red;">*</span></th>
                                          <td>
                                              <input type="text" name="ceoName" id="ceoName" class="form-control input-sm">
                                          </td>
                                      </tr>
                                      <tr id="checkBoxTr">
                                          <th th:text="#{org.company.label.type}"></th>
                                          <td>
                                          <label><input type="checkbox" id="makerYn" /> <span th:text="#{org.company.label.maker.yn}"></span> </label>
                                          <label><input type="checkbox" id="possessionYn" /> <span th:text="#{org.company.label.owner.yn}"></span> </label>
                                          <input type="hidden" id="infoItems"/>
                                          </td>
                                          <th th:text="#{org.company.label.member.count}"></th>
                                          <td>
                                              <input th:if="${companyId != null and companyId == ''}" type="number" readonly="readonly" id="custCount" name="custCount" class="form-control input-sm"/><br>
                                          </td>
                                      </tr>
                                      <tr>
                                          <th th:text="#{org.company.label.address}"></th>
                                          <td colspan="3">
                                              <div class="input-group">
                                                <input type="text" id="zipCode" name="zipCode" readonly="readonly" style="width:100px;" class="form-control input-sm">
                                                <button type="button" id="btnSearchZipCod" class="btn btn-primary" th:text="#{org.company.btn.zip.search}"></button>
                                              </div>
                                              <div class="input-group" style="width:100%">
                                                <input type="text" id="roadName" readonly="readonly" class="form-control input-sm">
                                                <input type="text" id="roadDetName" class="form-control input-sm">
                                              </div>
                                          </td>
                                      </tr>
                                  </tbody>
                                 </table>
                                 <div class="ibox-content">
                                    <button class="btn btn-white pull-right" id="btnList" th:text="#{common.btn.list}"></button>
                                    <button th:if="${companyId == null or companyId == ''}" id="btnCompanyRegister" class="btn btn-success pull-right" th:text="#{common.btn.register}"></button>
                                    <button th:unless="${companyId == null or companyId == ''}" id="btnCompanyUpdate" class="btn btn-warning pull-right" th:text="#{common.btn.edit}"></button>
                                </div>
                             </div>
                        </div>
                    </div>
                </div>
                </div>
                <div class="row" id="companyPymtDiv" th:if="${companyId != null and companyId != ''}">
                    <div class="col-lg-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5 th:if="${companyId == null or companyId == ''}" th:text="#{org.company.payment.form.title.create}"></h5>
                            <h5 th:unless="${companyId == null or companyId == ''}" th:text="#{org.company.payment.form.title.detail}"></h5>
                            <div class="ibox-tools">
                                <a class="collapse-link">
                                    <i class="fa fa-chevron-up"></i>
                                </a>
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                </a>
                            </div>
                        </div>
                        <div class="ibox-content">
                             <div class="table-responsive">
                                 <table class="table table-bordered table-striped">
                                      <tbody>
                                          <tr>
                                              <th style="width:15%;" th:text="#{org.company.payment.label.card}"></th>
                                              <td style="width:35%;">
                                                  <input type="hidden" name="pymtCardId" id="pymtCardId" />
                                                  <div class="input-group">
                                                      <input type="text" id="displayCardNo" name="displayCardNo" readonly="readonly" class="form-control">
                                                      <input type="hidden" id="billKey" name="billKey" >
                                                      <input type="hidden" id="cardTrxnNo" name="cardTrxnNo" >
                                                      <input type="hidden" id="cardCoType" name="cardCoType" >
                                                      <span class="input-group-btn">
                                                      <button type="button" id="btnSelectPymtCard" class="btn btn-primary" th:text="#{org.company.payment.btn.card.select}"></button>
                                                    </span>
                                                  </div>
                                              </td>
                                              <th style="width:15%;" th:text="#{org.company.payment.label.request}"></th>
                                              <td style="width:35%;">
                                                  <select name="pymtReqCode" id="pymtReqCode">
                                                      <option value="" >선택</option>
                                                   </select>
                                              </td>
                                          </tr>
                                          <tr>
                                              <th th:text="#{org.company.payment.label.target.type}"></th>
                                              <td>
                                                <select disabled="disabled" name="targetType" id="targetType">
                                                    <option value="COMPANY" selected="selected" th:text="#{org.company.list.title}"></option>
                                                </select>
                                              </td>
                                              <th th:text="#{org.company.payment.label.bill.method}"></th>
                                              <td>
                                                <select disabled="disabled" name="billMethodCode" id="billMethodCode"></select>
                                              </td>
                                          </tr>
                                      </tbody>
                                 </table>
                                 <div class="ibox-content">
                                    <button class="btn btn-white pull-right" id="btnList" th:text="#{common.btn.list}"></button>
                                    <button th:if="${companyId == null or companyId == ''}" id="btnPaymentRegister" class="btn btn-success pull-right" th:text="#{common.btn.register}"></button>
                                    <button th:unless="${companyId == null or companyId == ''}" id="btnPaymentUpdate" class="btn btn-warning pull-right" th:text="#{common.btn.edit}"></button>
                                </div>
                             </div>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script th:inline="javascript">
var _msg = {
    companyMgmt: /*[[#{js.company.companyMgmt}]]*/ '',
    enterCompanyName: /*[[#{js.company.enterCompanyName}]]*/ '',
    enterBizRegNo: /*[[#{js.company.enterBizRegNo}]]*/ '',
    enterCeoName: /*[[#{js.company.enterCeoName}]]*/ '',
    confirmChangePayment: /*[[#{js.company.confirmChangePayment}]]*/ '',
    btnModify: /*[[#{js.company.btnModify}]]*/ '',
    btnCancel: /*[[#{js.company.btnCancel}]]*/ '',
    confirmChangeCompany: /*[[#{js.company.confirmChangeCompany}]]*/ '',
    manufacturer: /*[[#{js.company.manufacturer}]]*/ '',
    optionSelect: /*[[#{js.company.optionSelect}]]*/ ''
};
</script>
<script type="text/javascript" th:inline="javascript">
var companyId = /*[[${companyId}]]*/ '';
jQuery(document).ready(function(){
     //
     companyJs.init();
});
</script>
</html>
