<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head th:replace="~{common/header :: head}"></head>
<body class="pace-done mini-navbar">

<script>
    var _msg = {
        queryError:           '조회 오류',
        messageNotFound:      '메시지를 찾을 수 없습니다.',
        messagePlaceholder:   '메시지 내용',
        inputError:           '입력 오류',
        inputCpId6:           '충전소ID 6자리를 입력해주세요.',
        inputCsId2:           '충전기ID 2자리를 입력해주세요.',
        selectPriority:       '우선순위를 선택해주세요.',
        saving:               '저장 중...',
        messageRegistered:    '메시지가 등록되었습니다. (MSG_ID: {0})',
        messageModified:      '메시지가 수정되었습니다.',
        saveFail:             '저장 실패',
        btnSave:              '저장',
        confirmDeleteMessage: '메시지(MSG_ID: {0})를 삭제하시겠습니까?',
        messageDeleted:       '메시지가 삭제되었습니다.',
        deleteFail:           '삭제 실패'
    };
</script>
<script type="text/javascript" th:src="@{/resources/js/charger/displayMessage/displayMessageDetail.js(v=20260319001)}"></script>
<div id="wrapper">
    <div id="page-wrapper" class="gray-bg" style="margin:0; padding:0;">
        <div class="wrapper wrapper-content">
            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5 id="pageTitle">
                                <span th:if="${isNew}">디스플레이 메시지 등록</span>
                                <span th:unless="${isNew}">디스플레이 메시지 상세</span>
                            </h5>
                            <div class="ibox-tools">
                                <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </div>
                        </div>
                        <div class="ibox-content">
                            <!-- 알림 -->
                            <div id="alertArea" class="alert" style="display:none;">
                                <strong id="alertTitle"></strong>
                                <span id="alertMessage" style="margin-left:8px;"></span>
                            </div>

                            <!-- 기본 정보 -->
                            <fieldset>
                                <legend style="font-size:13px; font-weight:700; border-bottom:1px solid #e7eaec; padding-bottom:6px;">기본 정보</legend>
                                <div class="table-responsive">
                                    <table class="table table-bordered" style="text-align:left;">
                                        <colgroup>
                                            <col style="width:25%">
                                            <col style="width:25%">
                                            <col style="width:25%">
                                            <col style="width:25%">
                                        </colgroup>
                                        <tbody>
                                            <tr th:unless="${isNew}">
                                                <th>MSG_ID</th>
                                                <td colspan="3"><strong id="infoMessageId" style="font-family:monospace; font-size:15px;"></strong></td>
                                            </tr>
                                            <tr>
                                                <th><span>충전소ID</span> <span class="text-danger">*</span></th>
                                                <td>
                                                    <input type="text" id="inputCpId" class="form-control input-sm" maxlength="6"
                                                           th:value="${cpId}" th:readonly="${!isNew}">
                                                </td>
                                                <th><span>충전기ID</span> <span class="text-danger">*</span></th>
                                                <td>
                                                    <input type="text" id="inputCsId" class="form-control input-sm" maxlength="2"
                                                           th:value="${csId}" th:readonly="${!isNew}">
                                                </td>
                                            </tr>
                                            <tr>
                                                <th><span>우선순위</span> <span class="text-danger">*</span></th>
                                                <td>
                                                    <select id="inputPriority" class="form-control input-sm">
                                                        <option value="">선택</option>
                                                        <option value="NormalCycle">NormalCycle</option>
                                                        <option value="InFront">InFront</option>
                                                        <option value="AlwaysFront">AlwaysFront</option>
                                                    </select>
                                                </td>
                                                <th>상태</th>
                                                <td>
                                                    <select id="inputStatus" class="form-control input-sm">
                                                        <option value="">선택</option>
                                                        <option value="DMST01">DMST01 - 활성</option>
                                                        <option value="DMST02">DMST02 - 대기</option>
                                                        <option value="DMST03">DMST03 - 완료</option>
                                                        <option value="DMST04">DMST04 - 취소</option>
                                                        <option value="DMST05">DMST05 - 유효기간만료</option>
                                                        <option value="DMST06">DMST06 - 오류</option>
                                                    </select>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>표시 시작일시</th>
                                                <td><input type="datetime-local" id="inputStartDate" class="form-control input-sm"></td>
                                                <th>표시 종료일시</th>
                                                <td><input type="datetime-local" id="inputEndDate" class="form-control input-sm"></td>
                                            </tr>
                                            <tr>
                                                <th>트랜잭션 ID</th>
                                                <td colspan="3">
                                                    <input type="text" id="inputRcId" class="form-control input-sm" maxlength="36" placeholder="연관 충전 트랜잭션 ID (선택)">
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </fieldset>

                            <!-- 표시 위치 -->
                            <fieldset style="margin-top:10px;">
                                <legend style="font-size:13px; font-weight:700; border-bottom:1px solid #e7eaec; padding-bottom:6px;">표시 위치 (Display Component)</legend>
                                <div class="table-responsive">
                                    <table class="table table-bordered" style="text-align:left;">
                                        <colgroup>
                                            <col style="width:25%">
                                            <col style="width:25%">
                                            <col style="width:25%">
                                            <col style="width:25%">
                                        </colgroup>
                                        <tbody>
                                            <tr>
                                                <th>컴포넌트 명</th>
                                                <td><input type="text" id="inputDisplayName" class="form-control input-sm" maxlength="50" placeholder="예: Display"></td>
                                                <th>인스턴스</th>
                                                <td><input type="text" id="inputDisplayInstance" class="form-control input-sm" maxlength="50" placeholder="선택"></td>
                                            </tr>
                                            <tr>
                                                <th>EVSE ID</th>
                                                <td><input type="number" id="inputDisplayEvseId" class="form-control input-sm" placeholder="선택" min="0"></td>
                                                <th>Connector ID</th>
                                                <td><input type="number" id="inputDisplayConnId" class="form-control input-sm" placeholder="선택" min="0"></td>
                                            </tr>
                                            <tr th:unless="${isNew}">
                                                <th>충전기 응답 상태</th>
                                                <td colspan="3"><span id="infoCsStatus" class="label label-default"></span></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </fieldset>

                            <!-- 메시지 내용 (다국어) -->
                            <fieldset style="margin-top:10px;">
                                <legend style="font-size:13px; font-weight:700; border-bottom:1px solid #e7eaec; padding-bottom:6px;">
                                    <span>메시지 내용 (다국어)</span>
                                    <button type="button" id="btnAddContent" class="btn btn-xs btn-default" style="margin-left:10px;">
                                        <i class="fa fa-plus"></i> <span>언어 추가</span>
                                    </button>
                                </legend>
                                <div class="table-responsive">
                                    <table class="table table-bordered" style="text-align:center; font-size:13px;">
                                        <thead>
                                            <tr>
                                                <th style="width:80px;">언어</th>
                                                <th style="width:130px;">포맷</th>
                                                <th>내용</th>
                                                <th style="width:50px;"></th>
                                            </tr>
                                        </thead>
                                        <tbody id="tBodyContents"></tbody>
                                    </table>
                                </div>
                            </fieldset>

                            <!-- 등록정보 (상세 시) -->
                            <div th:unless="${isNew}" style="margin-top:10px; font-size:12px; color:#888;">
                                <span><span>등록자ID</span>: <span id="infoRegDt"></span> (<span id="infoRegId"></span>)</span>
                                &nbsp;|&nbsp;
                                <span><span>수정자ID</span>: <span id="infoUpdDt"></span> (<span id="infoUpdId"></span>)</span>
                            </div>

                            <!-- 버튼 -->
                            <div style="margin-top:16px; text-align:right;">
                                <button type="button" id="btnList" class="btn btn-white btn-sm">
                                    <i class="fa fa-list"></i>&nbsp;<span>목록</span>
                                </button>
                                <button type="button" id="btnDelete" class="btn btn-danger btn-sm" th:unless="${isNew}" style="margin-left:4px;">
                                    <i class="fa fa-trash"></i>&nbsp;<span>삭제</span>
                                </button>
                                <button type="button" id="btnSave" class="btn btn-primary btn-sm" style="margin-left:4px;">
                                    <i class="fa fa-save"></i>&nbsp;<span>저장</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- 숨김 변수 -->
<input type="hidden" id="hidMessageId" th:value="${messageId}">
<input type="hidden" id="hidCpId" th:value="${cpId}">
<input type="hidden" id="hidCsId" th:value="${csId}">
<input type="hidden" id="hidIsNew" th:value="${isNew}">

<script type="text/javascript">
    jQuery(document).ready(function () {
        displayMessageDetailJs.init();
    });
</script>
</body>
</html>
