<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head th:replace="~{common/header :: head}"></head>
<body class="pace-done mini-navbar">

<script>
    var _msg = {
        statusActive:    '활성',
        statusPending:   '대기',
        statusCompleted: '완료',
        statusCancelled: '취소',
        statusExpired:   '유효기간만료',
        statusError:     '오류'
    };
</script>
<script type="text/javascript" th:src="@{/resources/js/charger/displayMessage/displayMessage.js(v=20260319001)}"></script>
<div id="wrapper">
    <div id="page-wrapper" class="gray-bg" style="margin:0; padding:0;">
        <div class="wrapper wrapper-content">
            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>충전기 디스플레이 메시지 목록</h5>
                            <div class="ibox-tools">
                                <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </div>
                        </div>
                        <div class="ibox-content">
                            <!-- 검색 -->
                            <div class="row m-b-sm">
                                <div class="col-sm-12">
                                    <div class="input-group" style="display:flex; align-items:center; gap:8px; flex-wrap:wrap;">
                                        <input type="text" id="searchCpId" placeholder="충전소ID" class="form-control input-sm" maxlength="6" style="width:100px;"
                                               th:value="${cpId}">
                                        <input type="text" id="searchCsId" placeholder="충전기ID" class="form-control input-sm" maxlength="2" style="width:70px;"
                                               th:value="${csId}">
                                        <select id="searchPriority" class="form-control input-sm" style="width:140px;">
                                            <option value="">우선순위 전체</option>
                                            <option value="AlwaysFront">AlwaysFront</option>
                                            <option value="InFront">InFront</option>
                                            <option value="NormalCycle">NormalCycle</option>
                                        </select>
                                        <select id="searchStatus" class="form-control input-sm" style="width:120px;">
                                            <option value="">상태 전체</option>
                                            <option value="DMST01">활성</option>
                                            <option value="DMST02">대기</option>
                                            <option value="DMST03">완료</option>
                                            <option value="DMST04">취소</option>
                                            <option value="DMST05">유효기간만료</option>
                                            <option value="DMST06">오류</option>
                                        </select>
                                        <button type="button" id="btnSearch" class="btn btn-sm btn-primary">검색</button>
                                        <button type="button" id="btnReset" class="btn btn-sm btn-warning">초기화</button>
                                    </div>
                                </div>
                            </div>
                            <div class="row m-b-sm">
                                <div class="col-sm-6" style="padding-top:6px;">
                                    <label id="totalCount"></label>
                                </div>
                                <div class="col-sm-6" style="text-align:right;">
                                    <button type="button" id="btnGoRegister" class="btn btn-sm btn-primary">
                                        <i class="fa fa-plus"></i>&nbsp;<span>메시지 등록</span>
                                    </button>
                                </div>
                            </div>
                            <!-- 목록 테이블 -->
                            <div class="table-responsive">
                                <div class="dataTables_wrapper form-inline dt-bootstrap">
                                    <table class="table table-striped table-bordered table-hover dataTables-example dtr-inline"
                                           style="white-space:nowrap; text-align:center;">
                                        <thead>
                                            <tr>
                                                <th>번호</th>
                                                <th>MSG_ID</th>
                                                <th>충전소ID</th>
                                                <th>충전기ID</th>
                                                <th>우선순위</th>
                                                <th>상태</th>
                                                <th>표시 시작일</th>
                                                <th>표시 종료일</th>
                                                <th>충전기 응답</th>
                                                <th>등록일시</th>
                                            </tr>
                                        </thead>
                                        <tbody id="tBodyList"></tbody>
                                    </table>
                                    <div class="dataTables_paginate paging_simple_numbers">
                                        <ul class="pagination" id="pagingUl"></ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    var pageInfoJs;
    jQuery(document).ready(function () {
        pageInfoJs = new PageInfoJs();
        displayMessageJs.init();
    });
</script>
</body>
</html>
