<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head th:replace="~{common/header :: head}"></head>
<body class="pace-done mini-navbar">
<script>
var _msg = {
    defaultMgmt:       '기본요금 매핑',
    statusAll:         '상태 전체',
    statusPending:     'PENDING',
    statusActive:      'ACTIVE',
    statusReplaced:    'REPLACED',
    statusCleared:     'CLEARED',
    statusRejected:    'REJECTED',
    inputCpCs:         '충전소/충전기 ID 를 입력해주세요.',
    inputTariffId:     'tariffId 를 입력해주세요.',
    confirmPush:       'CS 에 SetDefaultTariff 메시지를 전송하시겠습니까?',
    successAssign:     '기본요금 매핑이 등록되었습니다 (PENDING).',
    successPush:       'Push 요청이 정상 전송되었습니다.',
    failAssign:        '기본요금 매핑 등록에 실패하였습니다.',
    failPush:          'Push 요청에 실패하였습니다.',
    btnPush:           'Push',
    confirm:           '확인',
    cancel:            '취소'
};
</script>
<script type="text/javascript" th:src="@{/resources/js/payment/tariffDefaultList.js(v=20260525001)}"></script>
<div id="wrapper">
    <div id="page-wrapper" class="gray-bg" style="margin: 0; padding: 0;">
        <div class="wrapper wrapper-content">
            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5><span>충전기 기본요금 매핑</span></h5>
                            <div class="ibox-tools"><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></div>
                        </div>
                        <div class="ibox-content">
                            <div class="row">
                                <div class="col-sm-3">
                                    <input type="text" id="fCpId" class="form-control input-sm" placeholder="cpId">
                                </div>
                                <div class="col-sm-3">
                                    <input type="text" id="fCsId" class="form-control input-sm" placeholder="csId">
                                </div>
                                <div class="col-sm-2">
                                    <input type="number" id="fEvseId" class="form-control input-sm" placeholder="evseId">
                                </div>
                                <div class="col-sm-2">
                                    <select class="input-sm form-control input-s-sm inline" id="statusCd"></select>
                                </div>
                                <div class="col-sm-2" style="text-align:right;">
                                    <button type="button" id="btnSearch" class="btn btn-sm btn-primary"><span>검색</span></button>
                                    <button type="button" id="btnReset" class="btn btn-sm btn-warning"><span>초기화</span></button>
                                </div>
                            </div>
                            <div class="row" style="padding-top: 20px;">
                                <div class="col-sm-6" style="padding-top: 11px;">
                                    <label id="totalCount"></label>
                                </div>
                                <div class="col-sm-6" style="text-align: right;">
                                    <button type="button" id="btnAssign" class="btn btn-sm btn-primary">
                                        <i class="fa fa-plus"></i> <span>기본요금 매핑</span>
                                    </button>
                                </div>
                            </div>
                            <div class="table-responsive">
                                <div class="dataTables_wrapper form-inline dt-bootstrap">
                                    <table class="table table-striped table-bordered table-hover dataTables-example dataTable dtr-inline"
                                           style="white-space:nowrap; text-align:center;">
                                        <thead>
                                        <tr>
                                            <th>번호</th>
                                            <th>SEQ</th>
                                            <th>tariffId</th>
                                            <th>CP / CS / EVSE</th>
                                            <th>통화</th>
                                            <th>유효 시작</th>
                                            <th>상태</th>
                                            <th>CS Ack 시각</th>
                                            <th>관리</th>
                                        </tr>
                                        </thead>
                                        <tbody id="tBodyList"></tbody>
                                    </table>
                                    <div class="dataTables_paginate paging_simple_numbers">
                                        <ul class="pagination" id="pagingUl"></ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- 매핑 등록 모달 -->
<div class="modal inmodal fade" id="Popup_Default_Assign" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title"><span>기본요금 매핑 등록</span></h4>
            </div>
            <div class="modal-body">
                <table class="table table-bordered" style="background-color: white;">
                    <tr>
                        <th style="width:30%;"><span>tariffId</span> *</th>
                        <td>
                            <input type="text" id="form_tariffId" class="form-control input-sm" maxlength="60" placeholder="T-DEFAULT-...">
                            <small class="text-muted">DEFAULT 종류의 ACTIVE Tariff 만 가능</small>
                        </td>
                    </tr>
                    <tr>
                        <th>cpId *</th>
                        <td><input type="text" id="form_cpId" class="form-control input-sm" maxlength="20"></td>
                    </tr>
                    <tr>
                        <th>csId *</th>
                        <td><input type="text" id="form_csId" class="form-control input-sm" maxlength="20"></td>
                    </tr>
                    <tr>
                        <th>evseId</th>
                        <td>
                            <input type="number" id="form_evseId" class="form-control input-sm" min="0" placeholder="0 = 전체 EVSE">
                            <small class="text-muted">0 = 전체 EVSE</small>
                        </td>
                    </tr>
                </table>
                <p class="text-muted">등록 후 PENDING 상태로 추가됩니다. "Push" 버튼으로 CS 에 SetDefaultTariff 메시지를 전송하면 ACTIVE 로 전이됩니다.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="btnSave"><span>저장</span></button>
                <button type="button" class="btn btn-white" data-dismiss="modal"><span>닫기</span></button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    var pageInfoJs;
    jQuery(document).ready(function () {
        pageInfoJs = new PageInfoJs();
        tariffDefaultListJs.init();
    });
</script>
</body>
</html>
