<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head th:replace="~{common/header :: head}"></head>
<body class="pace-done mini-navbar">
<script type="text/javascript" th:src="@{/resources/lib/js/plugins/datapicker/bootstrap-datepicker.js}"></script>
<script th:inline="javascript">
var _msg = {
    vatHisMgmt:   /*[[#{js.vat.his.mgmt}]]*/ '',
    statusAccept: /*[[#{js.vat.his.status.accepted}]]*/ '',
    statusReject: /*[[#{js.vat.his.status.rejected}]]*/ ''
};
</script>
<script type="text/javascript" th:src="@{/resources/js/payment/vatHisList.js(v=20260524001)}"></script>
<div id="wrapper">
    <div id="page-wrapper" class="gray-bg" style="margin: 0; padding: 0;">
        <div class="wrapper wrapper-content">
            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5><span th:text="#{vat.his.list.title}"></span></h5>
                            <div class="ibox-tools"><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></div>
                        </div>
                        <div class="ibox-content">
                            <div class="row">
                                <div class="col-sm-6 m-b-xs">
                                    <div class="input-group" style="display: flex;">
                                        <div class="input-daterange input-group">
                                            <input type="text" class="input-sm form-control" id="date1" style="max-width:150px;" readonly>
                                            <span class="input-group-addon">~</span>
                                            <input type="text" class="input-sm form-control" id="date2" style="max-width:150px;" readonly>
                                        </div>
                                        <select id="resultStatus" class="form-control input-sm" style="max-width:160px;">
                                            <option value="" th:text="#{common.label.all}"></option>
                                            <option value="Accepted" th:text="#{js.vat.his.status.accepted}"></option>
                                            <option value="Rejected" th:text="#{js.vat.his.status.rejected}"></option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="input-group">
                                        <span class="input-group-btn" style="width:25%">
                                            <select class="input-sm form-control input-s-sm inline" id="searchType">
                                                <option value="VATNO" selected><span th:text="#{vat.label.vat.no}"></span></option>
                                            </select>
                                        </span>
                                        <input type="text" id="sWord" th:placeholder="#{common.placeholder.search.input}" class="form-control input-sm">
                                        <span class="input-group-btn">
                                            <button type="button" id="btnSearch" class="btn btn-sm btn-primary"><span th:text="#{common.btn.search}"></span></button>
                                        </span>
                                        <span class="input-group-btn">
                                            <button type="button" id="btnReset" class="btn btn-sm btn-warning"><span th:text="#{common.btn.reset}"></span></button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="row" style="padding-top: 20px;">
                                <div class="col-sm-12" style="padding-top: 11px;">
                                    <label id="totalCount"></label>
                                </div>
                            </div>
                            <div class="table-responsive">
                                <div class="dataTables_wrapper form-inline dt-bootstrap">
                                    <div style="overflow-x:auto;">
                                        <table class="table table-striped table-bordered table-hover dataTables-example dataTable dtr-inline"
                                               style="white-space:nowrap; text-align:center;">
                                            <thead>
                                            <tr>
                                                <th th:text="#{common.label.no}"></th>
                                                <th th:text="#{vat.his.label.verified.date}"></th>
                                                <th th:text="#{vat.label.vat.no}"></th>
                                                <th th:text="#{vat.label.company}"></th>
                                                <th th:text="#{vat.his.label.cp.id}"></th>
                                                <th th:text="#{vat.his.label.cs.id}"></th>
                                                <th th:text="#{vat.his.label.evse.id}"></th>
                                                <th th:text="#{vat.his.label.result}"></th>
                                                <th th:text="#{vat.his.label.reason}"></th>
                                            </tr>
                                            </thead>
                                            <tbody id="tBodyList"></tbody>
                                        </table>
                                    </div>
                                    <div class="dataTables_paginate paging_simple_numbers">
                                        <ul class="pagination" id="pagingUl"></ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    var pageInfoJs;
    jQuery(document).ready(function () {
        pageInfoJs = new PageInfoJs();
        vatHisListJs.init();
    });
</script>
</body>
</html>
