<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head th:replace="~{common/header :: head}"></head>
<body class="pace-done mini-navbar">
<script>
var _msg = {
    vatMgmt:           'ì¬ìì(VAT) ê´ë¦¬',
    vatNoLabel:        'ì¬ììë²í¸',
    companyLabel:      'íì¬ëª',
    useAll:            'ì¬ì©ì¬ë¶ ì ì²´',
    useY:              'ì¬ì©',
    useN:              'ì¤ì§',
    inputVatNo:        'ì¬ììë²í¸ë¥¼ ìë ¥í´ì£¼ì¸ì.',
    inputCompany:      'íì¬ëªì ìë ¥í´ì£¼ì¸ì.',
    inputAddr1:        'ì£¼ìë¥¼ ìë ¥í´ì£¼ì¸ì.',
    inputCity:         'ì(city)ë¥¼ ìë ¥í´ì£¼ì¸ì.',
    confirmRegister:   'ìë ¥í ì ë³´ë¡ ë±ë¡íìê² ìµëê¹?',
    confirmModify:     'ìì ì¬í­ì ì ì¥íìê² ìµëê¹?',
    confirmActivate:   'ì íí ì¬ììë²í¸ë¥¼ ì¬ì© íì±í íìê² ìµëê¹?',
    confirmDeactivate: 'ì íí ì¬ììë²í¸ë¥¼ ì¬ì© ì¤ì§ íìê² ìµëê¹?',
    successRegister:   'ì ìì ì¼ë¡ ë±ë¡ëììµëë¤.',
    successModify:     'ì ìì ì¼ë¡ ìì ëììµëë¤.',
    successChange:     'ì¬ì©ì¬ë¶ê° ë³ê²½ëììµëë¤.',
    failRegister:      'ë±ë¡ì ì¤í¨íììµëë¤.',
    failModify:        'ìì ì ì¤í¨íììµëë¤.',
    failChange:        'ì¬ì©ì¬ë¶ ë³ê²½ì ì¤í¨íììµëë¤.',
    duplicateVatNo:    'ì´ë¯¸ ë±ë¡ë ì¬ììë²í¸ ìëë¤.',
    btnEdit:           'ìì ',
    confirm:           '확인',
    cancel:            '취소'
};
</script>
<script type="text/javascript" th:src="@{/resources/js/payment/vatList.js(v=20260524001)}"></script>
<div id="wrapper">
    <div id="page-wrapper" class="gray-bg" style="margin: 0; padding: 0;">
        <div class="wrapper wrapper-content">
            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5><span>ì¬ìì(VAT) ê´ë¦¬</span></h5>
                            <div class="ibox-tools"><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></div>
                        </div>
                        <div class="ibox-content">
                            <div class="row">
                                <div class="col-sm-6 m-b-xs">
                                    <select class="input-sm form-control input-s-sm inline" style="width:30%" id="useYn"></select>
                                </div>
                                <div class="col-sm-6">
                                    <div class="input-group">
                                        <span class="input-group-btn" style="width:20%">
                                            <select class="input-sm form-control input-s-sm inline" id="searchType">
                                                <option value="VATNO" selected><span>ì¬ììë²í¸</span></option>
                                                <option value="COMPANY"><span>íì¬ëª</span></option>
                                            </select>
                                        </span>
                                        <input type="text" id="sWord" placeholder="검색어를 입력해주세요" class="form-control input-sm">
                                        <span class="input-group-btn">
                                            <button type="button" id="btnSearch" class="btn btn-sm btn-primary"><span>검색</span></button>
                                        </span>
                                        <span class="input-group-btn">
                                            <button type="button" id="btnReset" class="btn btn-sm btn-warning"><span>초기화</span></button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="row" style="padding-top: 20px;">
                                <div class="col-sm-6" style="padding-top: 11px;">
                                    <label id="totalCount"></label>
                                </div>
                                <div class="col-sm-6" style="text-align: right;">
                                    <button type="button" id="btnRegister" class="btn btn-sm btn-primary">
                                        <i class="fa fa-plus"></i> <span>ì ê· ë±ë¡</span>
                                    </button>
                                </div>
                            </div>
                            <div class="table-responsive">
                                <div class="dataTables_wrapper form-inline dt-bootstrap">
                                    <table class="table table-striped table-bordered table-hover dataTables-example dataTable dtr-inline"
                                           style="white-space:nowrap; text-align:center;">
                                        <thead>
                                        <tr>
                                            <th>번호</th>
                                            <th>ì¬ììë²í¸</th>
                                            <th>íì¬ëª</th>
                                            <th>ëíì</th>
                                            <th>ì£¼ì</th>
                                            <th>êµ­ê°</th>
                                            <th>ì¬ì©ì¬ë¶</th>
                                            <th>ë±ë¡ì¼</th>
                                            <th>ê´ë¦¬</th>
                                        </tr>
                                        </thead>
                                        <tbody id="tBodyList"></tbody>
                                    </table>
                                    <div class="dataTables_paginate paging_simple_numbers">
                                        <ul class="pagination" id="pagingUl"></ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- 등록/수정 모달 -->
<div class="modal inmodal fade" id="Popup_Vat_Edit" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="popupTitle"></h4>
            </div>
            <div class="modal-body">
                <table class="table table-bordered" style="background-color: white;">
                    <tr>
                        <th style="width:20%;"><span>ì¬ììë²í¸</span> *</th>
                        <td><input type="text" id="form_vatNo" class="form-control input-sm" maxlength="20" placeholder="000-00-00000"></td>
                    </tr>
                    <tr>
                        <th><span>íì¬ëª</span> *</th>
                        <td><input type="text" id="form_companyNm" class="form-control input-sm" maxlength="50"></td>
                    </tr>
                    <tr>
                        <th><span>ëíì</span></th>
                        <td><input type="text" id="form_repNm" class="form-control input-sm" maxlength="50"></td>
                    </tr>
                    <tr>
                        <th><span>ì£¼ì1</span> *</th>
                        <td><input type="text" id="form_addr1" class="form-control input-sm" maxlength="100"></td>
                    </tr>
                    <tr>
                        <th><span>ì£¼ì2</span></th>
                        <td><input type="text" id="form_addr2" class="form-control input-sm" maxlength="100"></td>
                    </tr>
                    <tr>
                        <th><span>ì</span> *</th>
                        <td><input type="text" id="form_city" class="form-control input-sm" maxlength="100"></td>
                    </tr>
                    <tr>
                        <th><span>ì°í¸ë²í¸</span></th>
                        <td><input type="text" id="form_postalCd" class="form-control input-sm" maxlength="20"></td>
                    </tr>
                    <tr>
                        <th><span>êµ­ê°</span></th>
                        <td><input type="text" id="form_country" class="form-control input-sm" maxlength="50" value="KR"></td>
                    </tr>
                    <tr>
                        <th><span>ìí</span></th>
                        <td><input type="text" id="form_bizType" class="form-control input-sm" maxlength="50"></td>
                    </tr>
                    <tr>
                        <th><span>ì¢ëª©</span></th>
                        <td><input type="text" id="form_bizItem" class="form-control input-sm" maxlength="50"></td>
                    </tr>
                    <tr>
                        <th><span>ì¬ì©ì¬ë¶</span></th>
                        <td>
                            <select id="form_useYn" class="form-control input-sm">
                                <option value="Y">Y</option>
                                <option value="N">N</option>
                            </select>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="btnSave"><span>저장</span></button>
                <button type="button" class="btn btn-white" data-dismiss="modal"><span>닫기</span></button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    var pageInfoJs;
    jQuery(document).ready(function () {
        pageInfoJs = new PageInfoJs();
        vatListJs.init();
    });
</script>
</body>
</html>
