<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head th:replace="~{common/header :: head}"></head>
<body>
<script type="text/javascript" th:src="@{/resources/js/system/carModel/carModel.js(v=20230731001)}"></script>
<script type="text/javascript" th:src="@{/resources/js/util/validate.js}"></script>
	<div id="wrapper">
        <div id="page-wrapper" class="gray-bg" style="margin: 0; padding: 0;">
	        <div class="wrapper wrapper-content">
	            <div class="row">
	                <div class="col-lg-12">
	                <div class="ibox float-e-margins">
	                    <div class="ibox-title">
	                        <h5 th:if="${carModelId == null or carModelId == ''}">차량모델 등록</h5>
	                        <h5 th:unless="${carModelId == null or carModelId == ''}">차량모델 상세</h5>
	                        <div class="ibox-tools">
	                            <a class="collapse-link">
	                                <i class="fa fa-chevron-up"></i>
	                            </a>
	                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
	                            </a>
	                        </div>
	                    </div>
	                    <div class="ibox-content">
	                         <div class="table-responsive">
	                             <table class="table table-bordered table-striped">
	                              <tbody>
		                               <colgroup>
					                <col width="15%">
					                <col width="35%">
					                <col width="15%">
					                <col width="35%">
				              </colgroup>
	                                  <tr>
	                                     <th th:if="${carModelId != null and carModelId != ''}"><span>차량모델ID</span></th>
	                                     <td th:if="${carModelId != null and carModelId != ''}" colspan="3" th:text="${carModelId}"></td>
	                                  </tr>
	                                  <tr>
	                                      <th><span>차량명</span><span style ="color:red;">*</span></th>
	                                      <td>
	                                    	  <input type="text" name="carName" id="carName" class="form-control input-sm">
	                                      </td>
	                                      <th><span>제조사</span><span style ="color:red;">*</span></th>
	                                      <td>
	                                    	  <select name="carMaker" id="carMaker" class="form-control input-sm" th:disabled="${carModelId != null and carModelId != ''}"></select>
	                                      </td>
	                                  </tr>
	                                  <tr>
	                                      <th><span>커넥터</span><span style ="color:red;">*</span></th>
	                                      <td>
	                                       		<select name="linkCode" id="linkCode" class="form-control input-sm"></select>
	                                      </td>
	                                      <th><span>베터리용량</span><span style ="color:red;">*</span></th>
	                                      <td>
	                                    	  <input type="number" name="batteryCapacity" id="batteryCapacity" class="form-control input-sm">
	                                      </td>
	                                  </tr>
	                                  <tr>
	                                      <th><span>주행가능거리</span><span style ="color:red;">*</span></th>
	                                      <td>
	                                       		<input type="number" name="drivingDistance" id="drivingDistance" class="form-control input-sm">
	                                      </td>
	                                      <th><span>Km/kWh</span><span style ="color:red;">*</span></th>
	                                      <td>
	                                    	  <input type="number" name="kmKwh" id="kmKwh" class="form-control input-sm">
	                                      </td>
	                                  </tr>
	                              </tbody>
	                             </table>
	                             <div class="ibox-content">
	                              	<button class="btn btn-white pull-right" id="btnList"> <span>목록</span></button>
	                              	<button th:if="${carModelId == null or carModelId == ''}" id="btnCarModelRegister" class="btn btn-success pull-right"> <span>등록</span></button>
	                              	<button th:unless="${carModelId == null or carModelId == ''}" id="btnCarModelUpdate" class="btn btn-warning pull-right"> <span>수정</span></button>
		                        </div>
	                         </div>
	                    </div>
	                </div>
	            </div>
            </div>
        </div>
    </div>
</div>
<script>
var _msg = {
    carModelMgmt: '차량모델관리',
    enterCarName: '차량명을 입력해 주세요.',
    enterBatteryCapacity: '배터리용량을 입력해 주세요.',
    enterDrivingDistance: '주행가능 거리(단위 Km)입력해 주세요.',
    enterKmKwh: '1kWh당 주행가능 거리(단위 km)를 입력해 주세요.',
    confirmModifyCarModel: '차량모델 정보를 수정하시겠습니까?',
    btnModify: '수정',
    btnCancel: '취소',
    registering: '등록중입니다.',
    modifying: '수정중입니다.'
};
</script>
<script th:inline="javascript">
var carModelId = /*[[${carModelId}]]*/ '';
jQuery(document).ready(function(){
	 //
	 carModelJs.init();
});
</script>
</body>
</html>
