<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">

<head th:replace="~{common/header :: head}"></head>

<body class="pace-done mini-navbar">
    <script>
        var _msg = {
            slotMgmt:           '배터리 슬롯 현황',
            pointAll:           '충전소 전체',
            stationAll:         '충전기 전체',
            slotStateAll:       '상태 전체',
            totalSlots:         '총 {0}슬롯',
            refreshOff:         '자동갱신 끔',
            refreshLabel:       '{0}초',
            historyShort:       '이력'
        };
    </script>
    <script type="text/javascript"
        th:src="@{/resources/js/charger/swapSlot/swapSlotStatusList.js(v=20260513001)}"></script>
    <div id="wrapper">
        <div id="page-wrapper" class="gray-bg" style="margin: 0; padding: 0;">
            <div class="wrapper wrapper-content">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="ibox float-e-margins">
                            <div class="ibox-title">
                                <h5><span>배터리 슬롯 현황</span></h5>
                                <div class="ibox-tools">
                                    <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                </div>
                            </div>
                            <div class="ibox-content">
                                <div class="row">
                                    <div class="col-sm-7 m-b-xs">
                                        <select id="cpSelect" class="input-sm form-control input-s-sm inline"
                                            style="width:32%;"></select>
                                        &nbsp;
                                        <select id="csSelect" class="input-sm form-control input-s-sm inline"
                                            style="width:22%;"></select>
                                        &nbsp;
                                        <select id="slotState" class="input-sm form-control input-s-sm inline"
                                            style="width:25%;"></select>
                                        &nbsp;
                                        <select id="refresh" class="input-sm form-control input-s-sm inline"
                                            style="width:15%;"></select>
                                    </div>
                                    <div class="col-sm-5">
                                        <div class="input-group">
                                            <span class="input-group-btn" style="width:30%">
                                                <select class="input-sm form-control input-s-sm inline" id="searchType">
                                                    <option value="BAT_SN" selected><span
                                                           >배터리SN</span>
                                                    </option>
                                                    <option value="EVSE_ID"><span
                                                           >슬롯번호</span></option>
                                                </select>
                                            </span>
                                            <input type="text" id="sWord"
                                                placeholder="검색어를 입력해주세요"
                                                class="form-control input-sm">
                                            <span class="input-group-btn">
                                                <button type="button" id="btnSearch"
                                                    class="btn btn-sm btn-primary"><span
                                                       >검색</span></button>
                                            </span>
                                            <span class="input-group-btn">
                                                <button type="button" id="btnReset" class="btn btn-sm btn-warning"><span
                                                       >초기화</span></button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" style="padding-top: 15px;">
                                    <div class="col-sm-12">
                                        <label id="totalCount" style="margin-right: 12px;"></label>
                                        <span id="stateChips"></span>
                                    </div>
                                </div>
                                <div class="table-responsive" style="padding-top: 8px;">
                                    <div class="dataTables_wrapper form-inline dt-bootstrap">
                                        <div style="overflow-x:auto;">
                                            <table
                                                class="table table-striped table-bordered table-hover dataTables-example dataTable dtr-inline"
                                                style="white-space:nowrap; text-align:center;">
                                                <thead>
                                                    <tr>
                                                        <th>번호</th>
                                                        <th>충전소ID</th>
                                                        <th>충전소명</th>
                                                        <th>충전기ID</th>
                                                        <th>슬롯번호</th>
                                                        <th>슬롯상태</th>
                                                        <th>OCPP 커넥터</th>
                                                        <th>배터리SN</th>
                                                        <th>SoC(%)</th>
                                                        <th>SoH(%)</th>
                                                        <th>충전시작</th>
                                                        <th>예상완충</th>
                                                        <th>최근 이벤트</th>
                                                    </tr>
                                                </thead>
                                                <tbody id="tBodyList"></tbody>
                                            </table>
                                        </div>
                                        <div class="dataTables_paginate paging_simple_numbers">
                                            <ul class="pagination" id="pagingUl"></ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- 슬롯 상세 모달 -->
    <div class="modal inmodal fade" id="Popup_SlotStatus" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">
                        <span>슬롯 상세</span>
                        <small id="popupSlotKey" style="margin-left:10px;"></small>
                    </h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-6">
                            <fieldset>
                                <legend style="font-size:13px;">식별</legend>
                                <table class="table table-bordered" style="background-color: white;">
                                    <tr>
                                        <th style="width:35%;">충전소ID</th>
                                        <td id="pp_cpId"></td>
                                    </tr>
                                    <tr>
                                        <th>충전기ID</th>
                                        <td id="pp_csId"></td>
                                    </tr>
                                    <tr>
                                        <th>슬롯번호</th>
                                        <td id="pp_evseId"></td>
                                    </tr>
                                </table>
                            </fieldset>
                        </div>
                        <div class="col-sm-6">
                            <fieldset>
                                <legend style="font-size:13px;">요약</legend>
                                <table class="table table-bordered" style="background-color: white;">
                                    <tr>
                                        <th style="width:35%;">슬롯상태</th>
                                        <td id="pp_slotState"></td>
                                    </tr>
                                    <tr>
                                        <th>OCPP 커넥터</th>
                                        <td id="pp_ocpp"></td>
                                    </tr>
                                    <tr>
                                        <th>최근 이벤트</th>
                                        <td id="pp_lastEvent"></td>
                                    </tr>
                                </table>
                            </fieldset>
                        </div>
                    </div>
                    <fieldset>
                        <legend style="font-size:13px;">적재 배터리</legend>
                        <table class="table table-bordered" style="background-color: white;">
                            <tr>
                                <th style="width:18%;">배터리SN</th>
                                <td style="width:32%;" id="pp_batterySn"></td>
                                <th style="width:18%;">벤더</th>
                                <td style="width:32%;" id="pp_vendor"></td>
                            </tr>
                            <tr>
                                <th>SoC(%)</th>
                                <td id="pp_soc"></td>
                                <th>SoH(%)</th>
                                <td id="pp_soh"></td>
                            </tr>
                            <tr>
                                <th>생산일</th>
                                <td colspan="3" id="pp_prodDate"></td>
                            </tr>
                        </table>
                    </fieldset>
                    <div class="row">
                        <div class="col-sm-6">
                            <fieldset>
                                <legend style="font-size:13px;">충전 진행</legend>
                                <table class="table table-bordered" style="background-color: white;">
                                    <tr>
                                        <th style="width:35%;">충전시작</th>
                                        <td id="pp_chStart"></td>
                                    </tr>
                                    <tr>
                                        <th>예상완충</th>
                                        <td id="pp_estReady"></td>
                                    </tr>
                                </table>
                            </fieldset>
                        </div>
                        <div class="col-sm-6">
                            <fieldset>
                                <legend style="font-size:13px;">점유/예약</legend>
                                <table class="table table-bordered" style="background-color: white;">
                                    <tr>
                                        <th style="width:35%;">Request ID</th>
                                        <td id="pp_reqId"></td>
                                    </tr>
                                    <tr>
                                        <th>잠금 해제 예정</th>
                                        <td id="pp_reserveUntil"></td>
                                    </tr>
                                </table>
                            </fieldset>
                        </div>
                    </div>
                    <fieldset>
                        <legend style="font-size:13px;">장애</legend>
                        <table class="table table-bordered" style="background-color: white;">
                            <tr>
                                <th style="width:18%;">장애 코드</th>
                                <td style="width:32%;" id="pp_faultCode"></td>
                                <th style="width:18%;">장애 발생</th>
                                <td style="width:32%;" id="pp_faultSince"></td>
                            </tr>
                        </table>
                    </fieldset>
                    <fieldset>
                        <legend style="font-size:13px;">최근 이력 (최근 5건)</legend>
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover"
                                style="white-space:nowrap; text-align:center;">
                                <thead>
                                    <tr>
                                        <th>이벤트 일시</th>
                                        <th>트리거</th>
                                        <th>전 상태</th>
                                        <th>후 상태</th>
                                        <th>배터리SN</th>
                                        <th>SoC(%)</th>
                                        <th>SoH(%)</th>
                                    </tr>
                                </thead>
                                <tbody id="pp_recentBody"></tbody>
                            </table>
                        </div>
                    </fieldset>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="btnViewAllHistory"><span
                           >전체 이력 보기</span></button>
                    <button type="button" class="btn btn-white" data-dismiss="modal"><span
                           >닫기</span></button>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        var pageInfoJs;
        jQuery(document).ready(function () {
            pageInfoJs = new PageInfoJs();
            swapSlotStatusListJs.init();
        });
    </script>
</body>

</html>