<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">

<head th:replace="~{common/header :: head}"></head>

<body class="pace-done mini-navbar">
    <script>
        var _msg = {
            slotMgmt:           'ë°°í°ë¦¬ ì¬ë¡¯ íí©',
            pointAll:           'ì¶©ì ì ì ì²´',
            stationAll:         'ì¶©ì ê¸° ì ì²´',
            slotStateAll:       'ìí ì ì²´',
            totalSlots:         'ì´ {0}ì¬ë¡¯',
            refreshOff:         'ìëê°±ì  ë',
            refreshLabel:       '{0}ì´',
            historyShort:       'ì´ë ¥'
        };
    </script>
    <script type="text/javascript"
        th:src="@{/resources/js/charger/swapSlot/swapSlotStatusList.js(v=20260513001)}"></script>
    <div id="wrapper">
        <div id="page-wrapper" class="gray-bg" style="margin: 0; padding: 0;">
            <div class="wrapper wrapper-content">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="ibox float-e-margins">
                            <div class="ibox-title">
                                <h5><span>ë°°í°ë¦¬ ì¬ë¡¯ íí©</span></h5>
                                <div class="ibox-tools">
                                    <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                </div>
                            </div>
                            <div class="ibox-content">
                                <div class="row">
                                    <div class="col-sm-7 m-b-xs">
                                        <select id="cpSelect" class="input-sm form-control input-s-sm inline"
                                            style="width:32%;"></select>
                                        &nbsp;
                                        <select id="csSelect" class="input-sm form-control input-s-sm inline"
                                            style="width:22%;"></select>
                                        &nbsp;
                                        <select id="slotState" class="input-sm form-control input-s-sm inline"
                                            style="width:25%;"></select>
                                        &nbsp;
                                        <select id="refresh" class="input-sm form-control input-s-sm inline"
                                            style="width:15%;"></select>
                                    </div>
                                    <div class="col-sm-5">
                                        <div class="input-group">
                                            <span class="input-group-btn" style="width:30%">
                                                <select class="input-sm form-control input-s-sm inline" id="searchType">
                                                    <option value="BAT_SN" selected><span
                                                           >ë°°í°ë¦¬SN</span>
                                                    </option>
                                                    <option value="EVSE_ID"><span
                                                           >ì¬ë¡¯ë²í¸</span></option>
                                                </select>
                                            </span>
                                            <input type="text" id="sWord"
                                                placeholder="검색어를 입력해주세요"
                                                class="form-control input-sm">
                                            <span class="input-group-btn">
                                                <button type="button" id="btnSearch"
                                                    class="btn btn-sm btn-primary"><span
                                                       >검색</span></button>
                                            </span>
                                            <span class="input-group-btn">
                                                <button type="button" id="btnReset" class="btn btn-sm btn-warning"><span
                                                       >초기화</span></button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" style="padding-top: 15px;">
                                    <div class="col-sm-12">
                                        <label id="totalCount" style="margin-right: 12px;"></label>
                                        <span id="stateChips"></span>
                                    </div>
                                </div>
                                <div class="table-responsive" style="padding-top: 8px;">
                                    <div class="dataTables_wrapper form-inline dt-bootstrap">
                                        <div style="overflow-x:auto;">
                                            <table
                                                class="table table-striped table-bordered table-hover dataTables-example dataTable dtr-inline"
                                                style="white-space:nowrap; text-align:center;">
                                                <thead>
                                                    <tr>
                                                        <th>번호</th>
                                                        <th>ì¶©ì ìID</th>
                                                        <th>ì¶©ì ìëª</th>
                                                        <th>ì¶©ì ê¸°ID</th>
                                                        <th>ì¬ë¡¯ë²í¸</th>
                                                        <th>ì¬ë¡¯ìí</th>
                                                        <th>OCPP ì»¤ë¥í°</th>
                                                        <th>ë°°í°ë¦¬SN</th>
                                                        <th>SoC(%)</th>
                                                        <th>SoH(%)</th>
                                                        <th>ì¶©ì ìì</th>
                                                        <th>ìììì¶©</th>
                                                        <th>ìµê·¼ ì´ë²¤í¸</th>
                                                    </tr>
                                                </thead>
                                                <tbody id="tBodyList"></tbody>
                                            </table>
                                        </div>
                                        <div class="dataTables_paginate paging_simple_numbers">
                                            <ul class="pagination" id="pagingUl"></ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- 슬롯 상세 모달 -->
    <div class="modal inmodal fade" id="Popup_SlotStatus" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">
                        <span>ì¬ë¡¯ ìì¸</span>
                        <small id="popupSlotKey" style="margin-left:10px;"></small>
                    </h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-6">
                            <fieldset>
                                <legend style="font-size:13px;">ìë³</legend>
                                <table class="table table-bordered" style="background-color: white;">
                                    <tr>
                                        <th style="width:35%;">ì¶©ì ìID</th>
                                        <td id="pp_cpId"></td>
                                    </tr>
                                    <tr>
                                        <th>ì¶©ì ê¸°ID</th>
                                        <td id="pp_csId"></td>
                                    </tr>
                                    <tr>
                                        <th>ì¬ë¡¯ë²í¸</th>
                                        <td id="pp_evseId"></td>
                                    </tr>
                                </table>
                            </fieldset>
                        </div>
                        <div class="col-sm-6">
                            <fieldset>
                                <legend style="font-size:13px;">ìì½</legend>
                                <table class="table table-bordered" style="background-color: white;">
                                    <tr>
                                        <th style="width:35%;">ì¬ë¡¯ìí</th>
                                        <td id="pp_slotState"></td>
                                    </tr>
                                    <tr>
                                        <th>OCPP ì»¤ë¥í°</th>
                                        <td id="pp_ocpp"></td>
                                    </tr>
                                    <tr>
                                        <th>ìµê·¼ ì´ë²¤í¸</th>
                                        <td id="pp_lastEvent"></td>
                                    </tr>
                                </table>
                            </fieldset>
                        </div>
                    </div>
                    <fieldset>
                        <legend style="font-size:13px;">ì ì¬ ë°°í°ë¦¬</legend>
                        <table class="table table-bordered" style="background-color: white;">
                            <tr>
                                <th style="width:18%;">ë°°í°ë¦¬SN</th>
                                <td style="width:32%;" id="pp_batterySn"></td>
                                <th style="width:18%;">ë²¤ë</th>
                                <td style="width:32%;" id="pp_vendor"></td>
                            </tr>
                            <tr>
                                <th>SoC(%)</th>
                                <td id="pp_soc"></td>
                                <th>SoH(%)</th>
                                <td id="pp_soh"></td>
                            </tr>
                            <tr>
                                <th>ìì°ì¼</th>
                                <td colspan="3" id="pp_prodDate"></td>
                            </tr>
                        </table>
                    </fieldset>
                    <div class="row">
                        <div class="col-sm-6">
                            <fieldset>
                                <legend style="font-size:13px;">ì¶©ì  ì§í</legend>
                                <table class="table table-bordered" style="background-color: white;">
                                    <tr>
                                        <th style="width:35%;">ì¶©ì ìì</th>
                                        <td id="pp_chStart"></td>
                                    </tr>
                                    <tr>
                                        <th>ìììì¶©</th>
                                        <td id="pp_estReady"></td>
                                    </tr>
                                </table>
                            </fieldset>
                        </div>
                        <div class="col-sm-6">
                            <fieldset>
                                <legend style="font-size:13px;">ì ì /ìì½</legend>
                                <table class="table table-bordered" style="background-color: white;">
                                    <tr>
                                        <th style="width:35%;">Request ID</th>
                                        <td id="pp_reqId"></td>
                                    </tr>
                                    <tr>
                                        <th>ì ê¸ í´ì  ìì </th>
                                        <td id="pp_reserveUntil"></td>
                                    </tr>
                                </table>
                            </fieldset>
                        </div>
                    </div>
                    <fieldset>
                        <legend style="font-size:13px;">ì¥ì </legend>
                        <table class="table table-bordered" style="background-color: white;">
                            <tr>
                                <th style="width:18%;">ì¥ì  ì½ë</th>
                                <td style="width:32%;" id="pp_faultCode"></td>
                                <th style="width:18%;">ì¥ì  ë°ì</th>
                                <td style="width:32%;" id="pp_faultSince"></td>
                            </tr>
                        </table>
                    </fieldset>
                    <fieldset>
                        <legend style="font-size:13px;">ìµê·¼ ì´ë ¥ (ìµê·¼ 5ê±´)</legend>
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover"
                                style="white-space:nowrap; text-align:center;">
                                <thead>
                                    <tr>
                                        <th>ì´ë²¤í¸ ì¼ì</th>
                                        <th>í¸ë¦¬ê±°</th>
                                        <th>ì  ìí</th>
                                        <th>í ìí</th>
                                        <th>ë°°í°ë¦¬SN</th>
                                        <th>SoC(%)</th>
                                        <th>SoH(%)</th>
                                    </tr>
                                </thead>
                                <tbody id="pp_recentBody"></tbody>
                            </table>
                        </div>
                    </fieldset>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="btnViewAllHistory"><span
                           >ì ì²´ ì´ë ¥ ë³´ê¸°</span></button>
                    <button type="button" class="btn btn-white" data-dismiss="modal"><span
                           >닫기</span></button>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        var pageInfoJs;
        jQuery(document).ready(function () {
            pageInfoJs = new PageInfoJs();
            swapSlotStatusListJs.init();
        });
    </script>
</body>

</html>