<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="ko">
<head th:replace="~{common/header :: head}"></head>
<body>
<script type="text/javascript" th:src="@{/resources/js/system/systemAuthority.js(v=20230731001)}"></script>

	<div id="wrapper">
       <div id="page-wrapper" class="gray-bg" style="margin: 0; padding: 0;">
        <div class="wrapper wrapper-content">
			<div class="row">
                <div class="col-lg-6">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5><span>권한 목록</span></h5>
                        <div class="ibox-tools">
                             <a class="collapse-link">
                                 <i class="fa fa-chevron-up"></i>
                             </a>
                             <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                             </a>
                         </div>
                    </div>
                    <div class="ibox-content">

                        <table class="table">
                            <thead>
                            <tr>
                                <th><span>선택</span></th>
                                <th><span>코드</span></th>
                                <th><span>권한명</span></th>
                            </tr>
                            </thead>
                            <tbody id="tBodyAutorityList">
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5><span>메뉴 목록</span></h5>
                        <div class="ibox-tools">
                             <a class="collapse-link">
                                 <i class="fa fa-chevron-up"></i>
                             </a>
                             <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                             </a>
                         </div>
                    </div>
                    <div class="ibox-content">

                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th><span>선택</span></th>
                                <th><span>상위메뉴명</span></th>
                                <th><span>메뉴명</span></th>
                                <th><span>메뉴아이디</span></th>
                            </tr>
                            </thead>
                            <tbody id="tBodyMenuList">
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            </div>
        </div>
   	</div>
</div>
</body>
<script th:inline="javascript">
var _msg = {
    authorityMgmt: '권한관리',
    selectAuthority: '권한을 선택해 주세요.'
};
// ROLE_ROOT_ADMIN만 권한설정 수정 가능(조회는 ROLE_OPER/ROLE_ADMIN/ROLE_ROOT_ADMIN 모두 가능)
var canModifyAuthority = /*[[${#authorization.expression('hasRole(''ROLE_ROOT_ADMIN'')')}]]*/ false;
</script>
<script type="text/javascript">
 jQuery(document).ready(function(){
	 //
	 systemAuthorityJs.init();
 });
</script>
</html>
