<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head th:replace="~{common/header :: head}"></head>
<body>
<div id="wrapper">
    <div id="page-wrapper" class="gray-bg" style="margin: 0; padding: 0;">
        <div class="wrapper wrapper-content">
            <div class="row">
                <!-- 좌측 -->
                <div class="col-lg-6">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5><span>CSMS 연동</span></h5>
                            <div class="ibox-tools">
                                <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#"></a>
                            </div>
                        </div>
                        <div class="ibox-content">
                            <table class="table table-bordered table-striped mb-0">
                                <colgroup>
                                    <col width="35%">
                                    <col width="65%">
                                </colgroup>
                                <tbody>
                                <tr>
                                    <th><span>LH CSMS 주소</span><span style="color:red;">*</span></th>
                                    <td><input type="text" name="lhCsmsAddress" id="lhCsmsAddress" class="form-control input-sm"></td>
                                </tr>
                                <tr>
                                    <th><span>CPO CSMS 주소</span></th>
                                    <td><input type="text" name="cpoCsmsAddress" id="cpoCsmsAddress" class="form-control input-sm"></td>
                                </tr>
                                <tr>
                                    <th><span>로컬시스템 아이디</span><span style="color:red;">*</span></th>
                                    <td><input type="text" name="localSystemId" id="localSystemId" class="form-control input-sm"></td>
                                </tr>
                                <tr>
                                    <th><span>로컬시스템 시리얼넘버</span><span style="color:red;">*</span></th>
                                    <td><input type="text" name="localSystemSN" id="localSystemSN" class="form-control input-sm" readonly></td>
                                </tr>
                                <tr>
                                    <th><span>로컬서버 운영모드</span></th>
                                    <td>
                                        <div id="localOperationTypeGroup" class="custom-control custom-radio custom-control-inline"></div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <div class="row m-t-sm">
                                <div class="col-sm-12">
                                    <button type="button" class="btn btn-primary pull-right" id="btnSave"><span>저장</span></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- 우측 -->
                <div class="col-lg-6">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5><span>홈넷 API 연결 테스트</span></h5>
                            <div class="ibox-tools">
                                <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#"></a>
                            </div>
                        </div>
                        <div class="ibox-content">
                            <table class="table table-bordered mb-0">
                                <thead class="bg-light">
                                <tr class="text-center">
                                    <th><span>홈넷 업체명</span></th>
                                    <th><span>설정</span></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr class="text-center">
                                    <th><span>코맥스</span></th>
                                    <td><button type="button" class="btn btn-outline btn-primary btn-block" disabled><span>설정</span></button></td>
                                </tr>
                                <tr class="text-center">
                                    <th><span>코콤</span></th>
                                    <td><button type="button" class="btn btn-outline btn-primary btn-block" disabled><span>설정</span></button></td>
                                </tr>
                                <tr class="text-center">
                                    <th><span>현대에이치티</span></th>
                                    <td><button type="button" class="btn btn-outline btn-primary btn-block" disabled><span>설정</span></button></td>
                                </tr>
                                <tr class="text-center">
                                    <th><span>HDC랩스</span></th>
                                    <td><button type="button" class="btn btn-outline btn-primary btn-block" disabled><span>설정</span></button></td>
                                </tr>
                                <tr class="text-center">
                                    <th><span>경동나비엔</span></th>
                                    <td><button type="button" class="btn btn-outline btn-primary btn-block" disabled><span>설정</span></button></td>
                                </tr>
                                <tr class="text-center">
                                    <th><span>씨브이네트</span></th>
                                    <td><button type="button" class="btn btn-outline btn-primary btn-block" disabled><span>설정</span></button></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" th:src="@{/resources/js/system/connConfig.js(v=20260902001)}"></script>
<script>
var _msg = {
    connConfigMgmt: '연결설정',
    confirmModifyConnConfig: '연결설정을 저장하시겠습니까?',
    btnModify: '저장',
    btnCancel: '취소',
    enterLhCsmsAddress: 'LH CSMS 주소를 입력해 주세요.',
    enterLocalSystemId: '로컬시스템 아이디를 입력해 주세요.'
};
jQuery(document).ready(function(){
    connConfigJs.init();
});
</script>
</body>
</html>
